#jsddm{margin:0; padding:0; width:78px;z-index:9999;}
#jsddm li{list-style:none;}
#jsddm li a{display:block; width:78px; color:#fff;}
#jsddm li a:hover/*鼠标经过添加按钮*/{}
#jsddm li ul{margin:0; padding:0; position:absolute; visibility:hidden;border-left:1px solid #97b7d7; border-right:1px solid #97b7d7; border-bottom:1px solid #97b7d7; width:78px; background:#fff;}
#jsddm li ul li{}
#jsddm li ul li a{color:#010101; width:78px; border-bottom:1px solid #d0e6ec; height:24px; line-height:24px; margin:auto; text-align:center;}
#jsddm li ul li a:hover{background:#f1fbff;}
.notallowed a:hover{cursor: not-allowed;}

.z-toolbar {
	background:url(../../images/private/cms/bar.gif) no-repeat 0 -40px;
	padding-left:6px;
}
.z-toolbar .z-btn { margin:1px 0 0;}
.z-toolbar-ct {
	background:url(../../images/private/cms/bar.gif) no-repeat right -80px;
	padding-right:6px;
}

.z-toolbar-overflow {
	background:url(../../images/private/cms/bar.gif) repeat-x 0 0;
	height:33px;
	overflow:hidden;
	font-size:0px;
}
.z-toolbar-nowrap {
	white-space: nowrap;
	_width:100%;
	overflow:hidden;
	font-size:0px;
	height:29px;
	margin:3px 0 0 0;
}
.z-toolbar-nowrap *{
	font-size:12px;
	font-weight:normal;
	vertical-align:middle;
}
