/* divbtn divtab divchildtab pagetab */
.imgdisabled img {
	opacity: 0.5;
	filter: gray Alpha(Opacity = 50);
}

.divbtn,.divbtnHover,.divbtnDisabled {
	text-decoration: none;
	height: 24px;
	margin: 0 5px 0 0;
	cursor: pointer;
	background: url(../../images/default/btnout_bg_left.gif) no-repeat left
		center;
	display: block;
	float: left;
}

.divbtn img,.divbtnHover img,.divbtnDisabled img {
	width: 20px;
	height: 20px;
	margin: 2px 0px 4px 6px;
	display: inline;
	float: left;
}

.divbtn b,.divbtnHover b,.divbtnDisabled b {
	white-space: nowrap;
	color: #666;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 7px 0 5px;
	/*padding: 0px 11px 0 0;*/
	background: url(../../images/default/btnout_bg_right.gif) no-repeat right
		center;
	display:inline-block;
	+zoom: 1;
	+display: inline;
}

.divbtnHover {
	background: url(../../images/default/btnover_bg_left.gif) no-repeat left
		center;
}

.divbtnHover b {
	color: #147;
	background: url(../../images/default/btnover_bg_right.gif) no-repeat
		right center;
}

.divbtnDisabled {
	cursor: not-allowed;
	background: url(../../images/default/btnDsb_bg_left.gif) no-repeat left
		center;
}

.divbtnDisabled img {
	opacity: 0.5;
	filter: gray Alpha(Opacity = 50);
}

.divbtnDisabled b {
	color: #999;
	background: url(../../images/default/btnDsb_bg_right.gif) no-repeat right
		center;
}
/*新页面divbtn不再使用，为了对以前的页面兼容而保留*/

a.zPushBtn {
	text-decoration: none;
	height: 24px;
	margin: 0 5px 0 0;
	background: url(../../images/default/btnout_bg_left.gif) no-repeat left center;
	_display: inline;
	float: left;
	-moz-user-select:none;
}

a.zPushBtn img {
	margin: 2px 0px 4px 6px;
	_display: inline;
	float: left;
}

a.zPushBtn b {
	cursor:pointer;
	white-space: nowrap;
	color: #666;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	padding: 0 7px 0 5px;
	background: url(../../images/default/btnout_bg_right.gif) no-repeat right center;
	display:inline-block;
	+zoom: 1;
	+display: inline;
}

a.zPushBtn:hover {
	text-decoration: none;
	background: url(../../images/default/btnover_bg_left.gif) no-repeat left center;
}

a.zPushBtn:hover b {
	color: #147;
	background: url(../../images/default/btnover_bg_right.gif) no-repeat right center;
}

a.zPushBtnDisabled,
a.zPushBtnDisabled:hover{
	cursor: not-allowed;
	background: url(../../images/default/btnDsb_bg_left.gif) no-repeat left center;
}

a.zPushBtnDisabled img,
a.zPushBtnDisabled:hover img{
	opacity: 0.5;
	filter: gray Alpha(Opacity = 50);
}

a.zPushBtnDisabled b,
a.zPushBtnDisabled:hover b {
	cursor: not-allowed;
	color: #999;
	background: url(../../images/default/btnDsb_bg_right.gif) no-repeat right center;
}




.tabpageBar {
	background: url(../Platform/Images/tabpageBar_bg.gif) repeat-x left
		bottom;
	padding-left: 30px;
}

.tabpageBar .divtab,.tabpageBar .divtabHover,.tabpageBar  .divtabCurrent
	{
	position: relative;
	z-index: 33;
	text-decoration: none;
	height: 30px;
	margin: 1px 0 0 -10px;
	cursor: pointer;
	display: block;
	float: left;
	background: url(../Platform/Images/tabOutBg_left.gif) no-repeat left top
		;
}

.tabpageBar .divtab img,.tabpageBar .divtabHover img,.tabpageBar .divtabCurrent img,.tabpageBar .divtabdisabled img
	{
	width: 20px;
	height: 20px;
	margin: 7px 5px 2px 8px;
	display: inline;
	float: left;
}

.tabpageBar .divtab b,.tabpageBar .divtabHover b,.tabpageBar .divtabCurrent b,.tabpageBar .divtabdisabled b
	{
	white-space: nowrap;
	font-weight: normal;
	height: 30px;
	line-height: 24px;
	/*line-height: 22px;*/
	padding: 6px 25px 0 0;
	/*padding: 8px 25px 0 0;*/
	display: block;
	float: left;
}

.tabpageBar .divtab span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.tabpageBar .divtab img {
	opacity: 0.7;
	filter: Alpha(Opacity = 70);
}

.tabpageBar .divtab b {
	color: #666;
	background: url(../Platform/Images/tabOutBg_right.gif) no-repeat right
		top;
}

.tabpageBar .divtabCurrent {
	background: url(../Platform/Images/tabActiveBg_left.gif) no-repeat left
		top;
}

.tabpageBar .divtabHover b,.tabpageBar  .divtabCurrent b {
	color: #147;
	background: url(../Platform/Images/tabActiveBg_right.gif) no-repeat
		right top;
}

.tabpageBar .divtabHover {
	background: url(../Platform/Images/tabOverBg_left.gif) no-repeat left
		top;
}

.tabpageBar .divtabHover b {
	background: url(../Platform/Images/tabOverBg_right.gif) no-repeat right
		top;
}

.tabpageBar .divtabCurrent b {
	color: #000000;
}

.tabpageBar .divtabdisabled {
	position: relative;
	text-decoration: none;
	height: 30px;
	margin: 3px 0 0 -10px;
	cursor: not-allowed;
	background: url(../Platform/Images/tabDsb_bg_left.gif) no-repeat left
		top;
	display: block;
	float: left;
}

.tabpageBar .divtabdisabled img {
	opacity: 0.3;
	filter: gray Alpha(Opacity = 50);
}

.tabpageBar .divtabdisabled b {
	color: #999;
	background: url(../Platform/Images/tabDsb_bg_right.gif) no-repeat right
		top;
}

.verticalTabpageBar {
	background: url(../Platform/Images/v_tabpageBar_bg.gif) repeat-y right
		top;
	padding-top: 20px;
}

.verticalTabpageBar * {
	vertical-align: middle;
}

.verticalTabpageBar .divtab,.verticalTabpageBar .divtabHover,.verticalTabpageBar  .divtabCurrent
	{
	text-align: left;
	text-decoration: none;
	margin: 0;
	cursor: pointer;
	background: url(../Platform/Images/v_tabOutBg.gif) no-repeat right
		center;
	display: block;
	height: 32px;
	width: 110px;
}

.verticalTabpageBar .divtab img,.verticalTabpageBar .divtabHover img,.verticalTabpageBar .divtabCurrent img,.verticalTabpageBar .divtabdisabled img
	{
	width: 20px;
	height: 20px;
	margin: 5px 4px 2px 9px;
	float: left;
}

.verticalTabpageBar .divtabCurrent img {
	margin: 9px 4px 2px 9px;
}

.verticalTabpageBar .divtab b,.verticalTabpageBar .divtabHover b,.verticalTabpageBar .divtabCurrent b,.verticalTabpageBar .divtabdisabled b
	{
	font-family: Tahoma, SimSun;
	white-space: nowrap;
	font-weight: normal;
	line-height: 26px;
	padding: 2px 4px 0 0;
	/*padding: 2px 4px 0 0;*/
	float: left;
	display: block;
	width: 72px;
	/*width:77px;*/
	overflow: hidden;
}

.verticalTabpageBar .divtabCurrent b {
	padding: 6px 4px 0 0;
	/*padding: 6px 4px 0 0;*/
	overflow: visible;
	position: static !important;
	/*	position: absolute;
	z-index:333;
*/
}

.verticalTabpageBar .divtab img {
	opacity: 0.8;
	filter: Alpha(Opacity = 80);
}

.verticalTabpageBar .divtab b {
	color: #555;
}

.verticalTabpageBar  .divtabCurrent {
	height: 40px;
	background: url(../Platform/Images/v_tabActiveBg.gif) no-repeat right
		center;
}

.verticalTabpageBar .divtabHover b {
	color: #147;
}

.verticalTabpageBar .divtabHover {
	height: 32px;
	background: url(../Platform/Images/v_tabOverBg.gif) no-repeat right
		center;
}

.verticalTabpageBar .divtabCurrent b {
	color: #000000;
}

.verticalTabpageBar .divtabdisabled {
	text-decoration: none;
	height: 32px;
	margin: 0;
	cursor: not-allowed;
	background: url(../Platform/Images/tabDsb_bg_left.gif) no-repeat left
		top;
	display: block;
	float: left;
}

.verticalTabpageBar .divtabdisabled img {
	opacity: 0.5;
	filter: gray Alpha(Opacity = 50);
}

.verticalTabpageBar .divtabdisabled b {
	color: #999;
	background: url(../Platform/Images/tabDsb_bg_right.gif) no-repeat right
		top;
}

.divchildtab,.divchildtabHover,.divchildtabCurrent,.divchildtabDisabled
	{
	position: relative;
	text-decoration: none;
	height: 26px;
	_height: 25px;
	margin: 3px 0 0 4px;
	cursor: pointer;
	background: url(../Platform/Images/s_tabout_bg_left.gif) no-repeat left
		top;
	display: block;
	float: left;
	border-bottom: #99a7b1 1px solid;
}

.divchildtabHover,.divchildtabCurrent {
	background: url(../Platform/Images/s_tabover_bg_left.gif) no-repeat left
		top;
	border-bottom: #fff 1px solid;
}

.divchildtabDisabled {
	cursor: not-allowed;
	background: url(../Platform/Images/s_tabDsb_bg_left.gif) no-repeat left
		top;
}

.divchildtab img,.divchildtabHover img,.divchildtabCurrent img,.divchildtabDisabled img
	{
	width: 20px;
	height: 20px;
	margin: 3px 5px 0px 8px;
	display: inline;
	float: left;
}

.divchildtab img {
	opacity: 0.7;
	filter: Alpha(Opacity = 70);
}

.divchildtabDisabled img {
	opacity: 0.5;
	filter: gray Alpha(Opacity = 50);
}

.divchildtab b,.divchildtabHover b,.divchildtabCurrent b,.divchildtabDisabled b
	{
	color: #666;
	font-weight: normal;
	height: 25px;
	line-height: 24px;
	padding: 1px 20px 0 0;
	background: url(../Platform/Images/s_tabout_bg_right.gif) no-repeat
		right top;
	display: block;
	float: left;
	border-bottom: #99a7b1 1px solid;
	_border-bottom: none;
}

.divchildtabHover b,.divchildtabCurrent b {
	color: #147;
	background: url(../Platform/Images/s_tabover_bg_right.gif) no-repeat
		right top;
	border-bottom: #fff 1px solid;
	_border-bottom: none;
}

.divchildtabDisabled b {
	color: #999;
	background: url(../Platform/Images/s_tabDsb_bg_right.gif) no-repeat
		right top;
}

.divchildtabHover {
	border-bottom: #99a7b1 1px solid;
}

.divchildtabHover b {
	border-bottom: #99a7b1 1px solid;
	_border-bottom: none;
}

.divchildtabCurrent b {
	color: #000000;
}

.pagetab {
	vertical-align: top;
	background: #F7F8FD url(../../images/default/pagetab_bg.gif) repeat-x
		left top;
	padding-top: 0;
}

.pagetab li,.pagetab li.pagetabCurrent {
	position: relative;
	float: left;
	margin-left: -10px;
	background: url(../../images/default/pagetab_left.gif) no-repeat left top
		;
	padding: 0 0 0 20px;
	height: 20px;
	-moz-user-select: none;
}

.pagetab b,.pagetab li.pagetabCurrent b {
	cursor: pointer;
	font-weight: normal;
	white-space: nowrap;
	color: #555;
	display: block;
	float: left;
	background: url(../../images/default/pagetab_right.gif) no-repeat right
		top;
	padding: 0px 20px 0 0;
	line-height: 17px;
	height: 20px;
}

.pagetab li.pagetabCurrent {
	background: url(../../images/default/pagetab_left_active.gif) no-repeat
		left top;
	z-index: 777;
}

.pagetab li.pagetabCurrent b {
	background: url(../../images/default/pagetab_right_active.gif) no-repeat
		right top;
	font-weight: bold;
	color: #123;
	line-height: 16px;
}

.pagetab .add img {
	margin: 2px 8px 0 8px;
	border: #EDEDF3 1px solid;
}

.pagetab .add a:hover img {
	border-bottom: #999 1px solid;
	border-left: #fff 1px solid;
	border-right: #999 1px solid;
	border-top: #fff 1px solid;
}

.pagetab li.pagetabOver b {
	color: #000000;
}