<!--#
layout("/layouts/platform.html"){
#-->
<div id="app">
    <el-dialog title="xxxx" :visible.sync="showDialog" append-to-body>
        xxxxx
        <br>
        <br>
        <br>
    </el-dialog>
    <el-button @click="open">Open</el-button>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                showDialog: false,
                loading: false,
            }
        },
        methods: {
            open:function () {
                this.showDialog=true
            }
        },
        created: function () {
        }
    })
</script>
<style scoped>
    #app {
        height: 100%;
    }

    body {
        margin: 0 0 0 0;
    }
</style>


<!--# } #-->
