<!--#
layout("/layouts/platform.html"){
#-->
<style>
    .bg_box {
        width: 575px;
        height: 157px;
        position: relative;
        float: left;
        box-shadow: 0 0 5px #666;
        background: url(https://img.alicdn.com/tfs/TB1kd3jr3mTBuNjy1XbXXaMrVXa-250-230.png), url(https://img.alicdn.com/tfs/TB10DxPskCWBuNjy0FaXXXUlXXa-552-233.png);
        background-size: 22%;
        background-position: 100% 100%, 0 0;
        background-repeat: no-repeat, repeat;
        z-index: 9;
    }

    .bg_box .item_coupon_box .item_coupon_bg {
        width: 63px;
        height: 20px;
        transform: skew(-16deg);
        border: 1px solid #ff8a00;
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        margin: 20px 0 0 20px;
    }

    .bg_box .item_coupon_box .item_price i {
        font-style: normal;
        font-size: 18px;
    }

    .bg_box .item_coupon_box .item_price span {
        font-size: 40px;
    }

    .bg-box-content {
        width: 575px;
        margin: 10px auto;
    }

    .bg_box .item_coupon_box .item_coupon {
        width: 63px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #ff8a00;
        position: absolute;
        top: 22px;
        left: 20px;
        overflow: hidden;
        font-size: 12px;
    }

    .bg_box .item_coupon_box .item_price {
        height: 40px;
        line-height: 50px;
        margin-left: 20px;
        color: #ff8a00;
        font-size: 14px;
        letter-spacing: 2px;
    }

    .bg_box .item_limited {
        width: 200px;
        height: 157px;
        margin-left: 350px;
        top: -80px;
        position: relative;
        overflow: hidden;
        float: left;
        z-index: 9999;
    }

    .bg_box .item_limited .item_limited_url a{
        display: block;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;
        font-size: 16px;
        background: #00c1de;
        color: #fff;
        cursor: pointer;
    }

    .bg_box .item_coupon_box .item_desc {
        width: 350px;
        height: 36px;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        margin-left: 20px;
        overflow: hidden;
    }
    .bg-box-content2 {
        width: 800px;
        margin: 10px auto;
    }
</style>
<div id="app" v-cloak>
    <div class="el-row" style="padding: 20px;margin-bottom: 20px;">
        <div class="bg-box-content">
            <div class="bg_box" style="position: relative;">
                <div class="item_coupon_box">
                    <div class="item_coupon_bg"></div>
                    <div class="item_coupon">限时红包</div>
                    <div class="item_price">阿里云 ￥ </i><span>1888</span></div>
                    <p class="item_desc">云产品通用红包，可叠加官网常规优惠使用
                    </p>
                </div>
                <div class="item_limited">
                    <span class="item_limited_url"><a
                            href='https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=jfp1pk7u'
                            target='_blank'>立即领取</a></span>
                </div>
            </div>
        </div>
    </div>
    <el-row style="padding:20px 20px 20px 20px;">
        <el-alert
                title="物联网卡(三大运营商4G卡、NB卡)，全网最低价，微信号：LJL568"
                type="success"
                close-text="知道了">
        </el-alert>

    </el-row>
    <el-row style="padding:20px 20px 20px 20px;">
        <el-alert
                title="短信平台(通知类短信、营销类短信)，全网最低价，微信号：LJL568"
                type="warning"
                close-text="知道了">
        </el-alert>
    </el-row>
    <el-row style="padding:20px 20px 20px 20px;">
        <el-alert
                title="NutzWk 系列软件订制开发、培训、合作，可联系作者，QQ：11624317，微信号：wizzer ，QQ交流群：24457628"
                type="error"
                close-text="知道了">
        </el-alert>
    </el-row>
</div>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                showDialog: false,
                loading: false,
            }
        },
        methods: {
            open:function () {
                this.showDialog=true
            }
        },
        created: function () {
        }
    })
</script>
<style scoped>
</style>


<!--# } #-->
