<!-- Page footer-->
    <footer>
        <span>&copy; 2015 - ${app_copyright}</span>
    </footer>
</div>
<!-- =============== VENDOR SCRIPTS ===============-->
<!-- MODERNIZR-->
<script src="${base}/include/vendor/modernizr/modernizr.js"></script>
<!-- JQUERY-->
<script src="${base}/include/vendor/jquery/dist/jquery.js"></script>
<!-- BOOTSTRAP-->
<script src="${base}/include/vendor/bootstrap/dist/js/bootstrap.js"></script>
<!-- STORAGE API-->
<script src="${base}/include/vendor/jQuery-Storage-API/jquery.storageapi.js"></script>
<!-- JQUERY EASING-->
<script src="${base}/include/vendor/jquery.easing/js/jquery.easing.js"></script>
<!-- ANIMO-->
<script src="${base}/include/vendor/animo.js/animo.js"></script>
<!-- SLIMSCROLL-->
<script src="${base}/include/vendor/slimScroll/jquery.slimscroll.min.js"></script>
<!-- SCREENFULL-->
<script src="${base}/include/vendor/screenfull/dist/screenfull.js"></script>
<!-- LOCALIZE-->
<script src="${base}/include/vendor/jquery-localize-i18n/dist/jquery.localize.js"></script>
<!-- RTL demo-->
<script src="${base}/include/js/demo/demo-rtl.js"></script>
<!-- =============== PAGE VENDOR SCRIPTS ===============-->
<!-- SPARKLINE-->
<script src="${base}/include/vendor/sparklines/jquery.sparkline.min.js"></script>
<!-- FLOT CHART-->
<script src="${base}/include/vendor/Flot/jquery.flot.js"></script>
<script src="${base}/include/vendor/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
<script src="${base}/include/vendor/Flot/jquery.flot.resize.js"></script>
<script src="${base}/include/vendor/Flot/jquery.flot.pie.js"></script>
<script src="${base}/include/vendor/Flot/jquery.flot.time.js"></script>
<script src="${base}/include/vendor/Flot/jquery.flot.categories.js"></script>
<script src="${base}/include/vendor/flot-spline/js/jquery.flot.spline.min.js"></script>
<!-- CLASSY LOADER-->
<script src="${base}/include/vendor/jquery-classyloader/js/jquery.classyloader.min.js"></script>
<!-- MOMENT JS-->
<script src="${base}/include/vendor/moment/min/moment-with-locales.min.js"></script>
<!-- SKYCONS-->
<script src="${base}/include/vendor/skycons/skycons.js"></script>
<!-- DEMO-->
<script src="${base}/include/js/demo/demo-flot.js"></script>
<script src="${base}/include/js/app.js"></script>
