
<script src="${base}/include/plugins/jquery-1.11.1.min.js"></script>
<script src="${base}/include/bootstrap/js/bootstrap.js"></script>
<script src="${base}/include/plugins/jquery.slimscroll.min.js"></script>
<script src="${base}/include/plugins/jquery.easing.min.js"></script>
<script src="${base}/include/plugins/appear/jquery.appear.js"></script>
<script src="${base}/include/plugins/jquery.placeholder.js"></script>
<script src="${base}/include/plugins/fastclick.js"></script>
<script src="${base}/include/plugins/count-to/jquery.countTo.js"></script>

<script src="${base}/include/js/offscreen.js"></script>
<script src="${base}/include/js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        #if(${shiro.getPrincipalProperty('loginTheme')})
            $("a[href='${base}/include/css/skins/${shiro.getPrincipalProperty('loginTheme')}']").addClass("active");
        #else
        $("a[href='${base}/include/css/skins/palette.css']").addClass("active");
        #end
        #if(${shiro.getPrincipalProperty('loginSidebar')})
            $(".app").addClass("small-menu");
        $(".toggle-sidebar").addClass("active");
        if (!$.browser.mobile && $.fn.slimScroll) {
            $(".no-touch .main-navigation").each(function () {
                $(this).slimScroll({destroy: true}).removeAttr('style');
            });
        }
        #else
        $(".app").removeClass("small-menu");
        $(".toggle-sidebar").removeClass("active");
        if (!$.browser.mobile && !sublime.checkBreakout() && $.fn.slimScroll) {
            $(".no-touch .main-navigation").each(function () {
                var data = $(this).data();
                $(this).slimScroll(data);
            });
        }
        #end
        #if(${shiro.getPrincipalProperty('loginScroll')})
            $(".app").addClass("fixed-scroll");
        $(".toggle-scroll").addClass("active");

        #end
        #if(${shiro.getPrincipalProperty('loginBoxed')})
            $(".app").addClass("boxed");
        $(".toggle-boxed").addClass("active");

        #end
        try{
            $(".gallery-loader").fadeOut(function(){
                $(".gallery-loader").remove();
            });
        }catch(e){};

    });
</script>