<header class="header header-fixed navbar">
    <div class="brand">

        <a href="javascript:;" class="ti-menu off-left visible-xs" data-toggle="offscreen" data-move="ltr"></a>


        <a href="${base}/private/index" class="navbar-brand">
            <img src="${base}/include/img/logo.png" alt="">
                <span class="heading-font">
                ${app_name}
                </span>
        </a>

    </div>
    <ul class="nav navbar-nav">
        <li class="hidden-xs">

            <a href="javascript:;" class="toggle-sidebar">
                <i class="ti-menu"></i>
            </a>

        </li>
        <li class="header-search">

            <a href="javascript:;" class="toggle-search">
                <i class="ti-search"></i>
            </a>

            <div class="search-container">
                <form role="search">
                    <input type="text" class="form-control search" placeholder="type and press enter">
                </form>
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown hidden-xs">
            <a href="javascript:;" data-toggle="dropdown">
                <i class="ti-more-alt"></i>
            </a>
            <ul class="dropdown-menu animated zoomIn">
                <li class="dropdown-header">Quick Links</li>
                <li>
                    <a href="javascript:;">Start New Campaign</a>
                </li>
                <li>
                    <a href="javascript:;">Review Campaigns</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:;">Settings</a>
                </li>
                <li>
                    <a href="javascript:;">Wish List</a>
                </li>
                <li>
                    <a href="javascript:;">Purchases History</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:;">Activity Log</a>
                </li>
                <li>
                    <a href="javascript:;">Settings</a>
                </li>
                <li>
                    <a href="javascript:;">System Reports</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:;">Help</a>
                </li>
                <li>
                    <a href="javascript:;">Report a Problem</a>
                </li>
            </ul>
        </li>

        <li class="notifications dropdown">
            <a href="javascript:;" data-toggle="dropdown">
                <i class="ti-bell"></i>

                <div class="badge badge-top bg-danger animated flash">
                    <span>3</span>
                </div>
            </a>

            <div class="dropdown-menu animated fadeInLeft">
                <div class="panel panel-default no-m">
                    <div class="panel-heading small"><b>Notifications</b>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="javascript:;">
                                    <span class="pull-left mt5 mr15">
                                    <img src="${base}/include/img/face4.jpg" class="avatar avatar-sm img-circle" alt="">
                                    </span>

                                <div class="m-body">
                                    <div class="">
                                        <small><b>CRYSTAL BROWN</b></small>
                                        <span class="label label-danger pull-right">ASSIGN AGENT</span>
                                    </div>
                                    <span>Opened a support query</span>
                                    <span class="time small">2 mins ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;">
                                <div class="pull-left mt5 mr15">
                                    <div class="circle-icon bg-danger">
                                        <i class="ti-download"></i>
                                    </div>
                                </div>
                                <div class="m-body">
                                    <span>Upload Progress</span>

                                    <div class="progress progress-xs mt5 mb5">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        </div>
                                    </div>
                                    <span class="time small">Submited 23 mins ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="javascript:;">
                                    <span class="pull-left mt5 mr15">
                                    <img src="${base}/include/img/face3.jpg" class="avatar avatar-sm img-circle" alt="">
                                    </span>

                                <div class="m-body">
                                    <em>Status Update:</em>
                                    <span>All servers now online</span>
                                    <span class="time small">5 days ago</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <a href="javascript:;">See all notifications</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown hidden-xs">
            <a href="javascript:;" class="pg-toggle">
                <i class="ti-palette"></i>
            </a>
        </li>

        <!-- START Language list-->
        <li class="language-dropdown dropdown hidden-xs">
            <a href="javascript:;" data-toggle="dropdown" id="language">
                #if(!$app_language||$app_language=="zh_CN")
                <img src="${base}/include/img/flags/cn.png" class="flag">
                <span class="language"></span>
                #else
                <img src="${base}/include/img/flags/us.png" class="flag">
                <span class="language"></span>
                #end
            </a>
            <ul class="dropdown-menu dropdown-menu-right animated fadeInUp">
                <li>
                    <a href="${base}/private/language/en_US">
                        <img src="${base}/include/img/flags/us.png" class="flag">
                        <span class="language">English</span>
                    </a>
                </li>
                <li>
                    <a href="${base}/private/language/zh_CN">
                        <img src="${base}/include/img/flags/cn.png" class="flag">
                        <span class="language">中文</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- END Language list    -->

        <li class="off-right">
            <a href="javascript:;" data-toggle="dropdown">
                <img src="${base}/private/avatar" class="header-avatar img-circle" alt="user" title="user">
                <span class="hidden-xs ml10">${shiro.getPrincipalProperty('profile').nickname}</span>
                <i class="ti-angle-down ti-caret hidden-xs"></i>
            </a>
            <ul class="dropdown-menu animated fadeInLeft">
                <li>
                    <a href="javascript:;">${msg['index.user.setting']}</a>
                </li>
                <li>
                    <a href="javascript:;">${msg['index.user.password']}</a>
                </li>
            </ul>
        </li>
        <li class="off-right">
            <a href="${base}/private/logout">
                <i class="ti-power-off"></i>
            </a>
        </li>
    </ul>
</header>