<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html style="overflow:hidden">
<head>
    <title>$!app_name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- 框架 -->
    <link href="${base}/include/css/msg.css" rel="stylesheet" type="text/css"/>
    <link href="${base}/include/css/default.css" rel="stylesheet" type="text/css"/>
	<script type='text/javascript'>
		var CONTEXTPATH = '${base}';
	</script>
    <script src="${base}/include/js/main.js"></script>
    <script src="${base}/include/js/string.js"></script>
    <!-- 树 -->
    <script type="text/javascript" src="${base}/include/controls/ztree/jquery.ztree.core-3.5.min.js"></script> 
	<link rel="stylesheet" href="${base}/include/controls/ztree/zTreeStyle/zTreeStyle.css" type="text/css">

    <script>
     	function xuanze(){
         	
    		
    		 var d = new Dialog("Button");
    	        d.Width = 420;
    	        d.Height = 230;
    	        d.Title = "修改按钮";
    	        d.URL = "${base}/private/sys/resourceButton.html";
    	        d.OKEvent = function() {
    	            $("#button2").val($DW.$("#similar").val());
    	            
    	            $D.close();
    	        }
    	        d.onLoad = function() {
    	        	
    	        	var btval=$("#button2").val();
    	        	 var arr = btval.split(";");
    	        	 for(var i=0;i<arr.length-1;i++){
    	        		 var oOption=$("<OPTION></OPTION>");
    	        		   oOption.text(arr[i]+";");
    	        		   oOption.val(arr[i]+";");
    	        		   $DW.$("#fjmu").append(oOption);
    	        		  
    	        	 }
    	        	 $DW.$("#similar").val($("#button2").val());
    	           
    	        }
    	        
    	        d.show();
    	    }
         </script>
</head>
 <body class="dialogBody">
	  <form name='form1' id="form1" method='post'>
       <input type="hidden" name="doAction" id="doAction" value="update">
       <input type="hidden" name="id" id="id" value="$!obj.id">
       <input type="hidden" name="location" id="location" value="$!obj.location">
       <input type="hidden" name="subtype" id="subtype" value="$!obj.subtype">
    
    <table width="100%" height="100%" border="0">
		<tr>
			<td valign="middle">
			<table align="center" cellpadding="2"
				cellspacing="0" >
				<tr>
					<td width="104" height="10"></td>
					<td width="6"></td>
					<td></td>
				</tr>
				<tr>
					<td align="right">菜单名称：</td>
					<td>&nbsp;</td>
					<td width="260"><input type="text" name="name" id="name" size="30" maxlength="50" value="$!obj.name" verify="菜单名称|NotNull"></td>
				</tr>
				 
				<tr>
					<td align="right">菜单URL：</td>
					<td>&nbsp;</td>
					<td>  <input type="text" name="url" id="url" size="50"  maxlength="100" value="$!obj.url">
					</td>
				</tr>

               
                  <tr>
					<td align="right">状态：</td>
					<td>&nbsp;</td>
					<td><select name="state" id="state">
                         <option value="0">激活</option>
                        <option value="1">冻结</option>
                        </select>
                    <script type="text/javascript">selected(document.form1.state,"$!obj.state")</script></td>
				</tr>
				<tr>
						<td align="right">按钮：</td>
					<td>&nbsp;</td>
					<td><textarea rows="1" cols="25" name="button2" id="button2" readonly="readonly">$!obj.button</textarea>
					<input type="button" value="选择按钮" onclick="xuanze()"/>
                     </td>
				</tr>
				<tr>
					<td align="right">备注：</td>
					<td>&nbsp;</td>
					<td><textarea rows="4" cols="40" name="descript" id="descript">$!obj.descript</textarea></td>
				</tr>
				<tr>
					<td colspan="3" align="center" height="10"></td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
	</form>
	</body> 
</html>