package ${packageName}.impl;

import cn.wizzer.framework.base.service.BaseServiceImpl;
import ${table.EntityFullClassName};
import ${packageName}.${table.ServiceClassName};
import org.nutz.dao.Dao;
import org.nutz.ioc.loader.annotation.IocBean;

@IocBean(args = {"refer:dao"})
public class ${table.ServiceClassName}Impl extends BaseServiceImpl<${table.EntityClassName}> implements ${table.ServiceClassName} {
    public ${table.ServiceClassName}Impl(Dao dao) {
        super(dao);
    }
}
