<!--#
layout("/layouts/platform.html"){
#-->
<style>
    .el-upload input[type=file] {
        display: none;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
    }

    .avatar {
        width: 80px;
        height: 80px;
        display: block;
    }
</style>
<div id="app" v-cloak>
    <el-row class="header navbar bg-white shadow">
        <div class="btn-group tool-button mt5">
            <span>微信公众号：</span>
            <el-select size="medium" v-model="pageForm.wxid" placeholder="请选择" @change="change">
                <el-option
                        v-for="item in wxConfigs"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="pull-right mt5">
            <el-button size="medium"
                       @click="window.location='${base!}/platform/wx/msg/mass/news/<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->'">
                <i class="ti-book"></i> 图文素材
            </el-button>

            <el-button size="medium" @click="openSend"><i class="ti-export"></i> 群发消息</el-button>
        </div>
    </el-row>
    <el-row class="el-table-container">
        <el-table
                :data="tableData"
                @sort-change='pageOrder'
                size="small"
                header-align="center"
                style="width: 100%"
                :default-sort="{prop: 'opAt', order: 'descending'}"
        >

            <el-table-column type="expand">
                <template slot-scope="scope">
                    <el-form label-position="left" inline class="el-table-expand" size="mini">
                        <el-form-item label="回复内容">
                            <span v-if="scope.row.replyId && scope.row.replyId!=''">{{ scope.row.reply.content }}</span>
                        </el-form-item>
                        <el-form-item label="回复时间">
                            <span v-if="scope.row.replyId && scope.row.replyId!=''">
                                {{ formatAt(scope.row.reply.opAt) }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>

            <el-table-column label="昵称" header-align="left" prop="nickname"
                             :show-overflow-tooltip="true" width="180">
                <template slot-scope="scope">
                    <img v-if="scope.row.headimgurl!=''" :src="scope.row.headimgurl" width="30" height="30">
                    <span>{{scope.row.nickname}}</span>
                </template>
            </el-table-column>

            <el-table-column label="消息类型" header-align="left" prop="type" width="80">

            </el-table-column>

            <el-table-column label="消息内容" header-align="left" prop="content"
                             :show-overflow-tooltip="true">
            </el-table-column>


            <el-table-column label="是否回复" header-align="left" prop="replyId"
                             :show-overflow-tooltip="true" width="120">
                <template slot-scope="scope">
                    <span v-if="!scope.row.replyId || scope.row.replyId==''">未回复
                     <el-button size="mini" round @click="openReply(scope.row)">回复</el-button>
                    </span>
                    <span v-if="scope.row.replyId && scope.row.replyId!=''">已回复</span>
                </template>
            </el-table-column>

            <el-table-column sortable label="接收时间" header-align="center" align="center" prop="opAt">
                <template slot-scope="scope">
                    {{formatAt(scope.row.opAt)}}
                </template>
            </el-table-column>

        </el-table>
    </el-row>
    <el-row class="el-pagination-container">
        <el-pagination
                @size-change="pageSizeChange"
                @current-change="pageNumberChange"
                :current-page="pageForm.pageNumber"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pageForm.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageForm.totalCount">
        </el-pagination>
    </el-row>


    <el-dialog
            title="群发消息"
            :visible.sync="sendDialogVisible"
            width="60%">
        <el-form :model="formData" ref="dialogForm" :rules="formRules" size="small" label-width="80px">
            <el-form-item prop="name" label="群发名称">
                <el-input maxlength="255" placeholder="群发名称"
                          v-model="formData.name"
                          auto-complete="off" tabindex="1" type="text"></el-input>
            </el-form-item>

            <el-form-item prop="type" label="群发类型">
                <el-radio-group v-model="formData.type" size="medium">
                    <el-radio label="text">纯文字</el-radio>
                    <el-radio label="image">图片</el-radio>
                    <el-radio label="news">图文消息</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item v-if="formData.type=='image'" prop="picurl" label="发送图片(2M以内)">
                <el-upload
                        class="avatar-uploader"
                        tabindex="5"
                        action="${base}/platform/wx/msg/mass/uploadImage/<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->"
                        name="Filedata"
                        :show-file-list="false"
                        :on-success="function(resp,file,fileList){return handlePicSuccess(resp,file,fileList,'picurl')}">
                    <img v-if="formData.picurl" :src="formData.picurl" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>

            <el-form-item class="is-required" v-if="formData.type=='text'" label="发送内容" prop="content">
                <el-input type="textarea" v-model="formData.content"></el-input>
            </el-form-item>

            <el-form-item prop="scope" label="发送范围">
                <el-radio-group v-model="formData.scope" size="medium">
                    <el-radio label="all">全部会员</el-radio>
                    <el-radio label="some">部分会员</el-radio>
                </el-radio-group>
            </el-form-item>

            <el-form-item class="is-required" v-if="formData.scope=='some'" label="选择会员" prop="receivers">
                <el-button size="medium" @click="openSel">选择会员</el-button>
                <el-input style="margin-top: 5px;" type="textarea" v-model="formData.receivers"></el-input>
                <el-alert style="margin-top: 5px;"
                          title="openid必须2个以上,1万个以内并且使用英文,符号分割"
                          type="success">
                </el-alert>
            </el-form-item>

        </el-form>
        <span slot="footer" class="dialog-footer">
                    <el-button @click="sendDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="doSend">发 送</el-button>
                  </span>
    </el-dialog>

    <el-dialog
            title="选择会员"
            :visible.sync="selDialogVisible"
            width="70%">
        <el-table
                :data="tableData2"
                @sort-change='pageOrder'
                size="small"
                header-align="center"
                style="width: 100%"
                :default-sort="{prop: 'subscribeAt', order: 'descending'}"
                @selection-change="handleSelectionChange"
        >

            <el-table-column
                    type="selection"
                    width="35">
            </el-table-column>

            <el-table-column label="会员openid" header-align="left" prop="openid" width="222">
            </el-table-column>

            <el-table-column label="昵称" header-align="left" prop="nickname"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <img v-if="scope.row.headimgurl!=''" :src="scope.row.headimgurl" width="30" height="30">
                    <span>{{scope.row.nickname}}</span>
                </template>
            </el-table-column>

            <el-table-column label="性别" header-align="left" prop="sex"
                             :show-overflow-tooltip="true" width="80">
                <template slot-scope="scope">
                    <span v-if="scope.row.sex==1">男</span>
                    <span v-if="scope.row.sex==2">女</span>
                    <span v-if="scope.row.sex==0">未知</span>
                </template>
            </el-table-column>

            <el-table-column label="区域" header-align="left" prop="id"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    {{scope.row.country}} - {{scope.row.province}} - {{scope.row.city}}
                </template>
            </el-table-column>

        </el-table>
        <el-pagination
                @size-change="pageSizeChange2"
                @current-change="pageNumberChange2"
                :current-page="pageForm2.pageNumber"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pageForm2.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageForm2.totalCount">
        </el-pagination>
        <span slot="footer" class="dialog-footer">
                    <el-button @click="selDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="doSel">确 定</el-button>
                  </span>
    </el-dialog>
</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            var wxConfigs = [];
            <!--#for(o in wxList){#-->
            wxConfigs.push({value: "${o.id!}", label: "${o.appname!}"});
            <!--#}#-->
            var self = this;
            var validateText = function (rule, value, callback) {
                if (self.formData.type == "text" && self.formData.content == "") {
                    callback(new Error('请输入纯文本内容'));
                } else {
                    callback();
                }
            };
            var validateSome = function (rule, value, callback) {
                if (self.formData.scope == "some" && self.formData.receivers == "") {
                    callback(new Error('请输入选择会员或输入会员openid'));
                } else {
                    callback();
                }
            };
            return {
                wxConfigs: wxConfigs,
                sendDialogVisible: false,
                selDialogVisible: false,
                pageForm: {
                    searchName: "",
                    searchKeyword: "",
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending",
                    wxid: "<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->",
                },
                pageForm2: {
                    searchName: "",
                    searchKeyword: "",
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending",
                    wxid: "<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->",
                },
                tableData: [],
                tableData2: [],
                formData: {},
                formRules: {
                    name: [
                        {required: true, message: '群发名称', trigger: 'blur'}
                    ],
                    content: [
                        {required: false, message: '文本内容', trigger: 'blur'},
                        {validator: validateText, trigger: ['blur', 'change']}
                    ],
                    receivers: [
                        {required: false, message: '文本内容', trigger: 'blur'},
                        {validator: validateSome, trigger: ['blur', 'change']}
                    ],
                },
                selectData: []
            }
        },
        methods: {
            pageOrder: function (column) {//按字段排序
                this.pageForm.pageOrderName = column.prop;
                this.pageForm.pageOrderBy = column.order;
                this.pageData();
            },
            pageNumberChange: function (val) {//页码更新操作
                this.pageForm.pageNumber = val;
                this.pageData();
            },
            pageSizeChange: function (val) {//分页大小更新操作
                this.pageForm.pageSize = val;
                this.pageData();
            },
            pageData: function () {//加载分页数据
                var self = this;
                sublime.showLoadingbar();//显示loading
                $.post(base + "/platform/wx/msg/mass/massData", self.pageForm, function (data) {
                    sublime.closeLoadingbar();//关闭loading
                    if (data.code == 0) {
                        self.tableData = data.data.list;
                        self.pageForm.totalCount = data.data.totalCount;
                    } else {
                        self.$message({
                            message: data.msg,
                            type: 'error'
                        });
                    }
                }, "json");
            },
            doSearch: function () {
                this.pageForm.pageNumber = 1;
                this.pageData();
            },
            pageOrder2: function (column) {//按字段排序
                this.pageForm2.pageOrderName = column.prop;
                this.pageForm2.pageOrderBy = column.order;
                this.pageData2();
            },
            pageNumberChange2: function (val) {//页码更新操作
                this.pageForm2.pageNumber = val;
                this.pageData2();
            },
            pageSizeChange2: function (val) {//分页大小更新操作
                this.pageForm2.pageSize = val;
                this.pageData2();
            },
            pageData2: function () {//加载分页数据
                var self = this;
                $.post(base + "/platform/wx/user/data", self.pageForm2, function (data) {
                    if (data.code == 0) {
                        self.tableData2 = data.data.list;
                        self.pageForm2.totalCount = data.data.totalCount;
                    } else {
                        self.$message({
                            message: data.msg,
                            type: 'error'
                        });
                    }
                }, "json");
            },
            doSearch2: function () {
                this.pageForm2.pageNumber = 1;
                this.pageData2();
            },
            handleSelectionChange: function (val) {
                this.multipleSelection = val;
            },
            handlePicSuccess: function (response, file, fileList, attrName) {
                if (response.code == 0) {
                    // 对象属性直接赋值不会触发试图更新，采用 Vue.set 、this.$set或者Object.assign({}，this.obj)创建新对象
                    // 或者也可以定义一个 refresh 属性 ，当数据发生改变时，该属性同时变化，也会触发视图更新
                    // this.formData.site_logo =response.data;
                    this.$set(this.formData, "picurl", response.data.picurl);
                    this.$set(this.formData, "media_id", response.data.id);
                } else {
                    this.$set(this.formData, "picurl", "");
                    this.$set(this.formData, "media_id", "");
                }
            },
            formatAt: function (val) {
                if (val > 0)
                    return moment(val * 1000).format("YYYY-MM-DD HH:mm");
                return "";
            },
            handleSelectionChange: function (val) {
                this.selectData = val;
            },
            openSel: function () {
                this.selDialogVisible = true;
                this.pageData2();
            },
            doSel: function () {
                var self=this;
                self.selDialogVisible = false;
                var openids=[];
                if(self.selectData&&self.selectData.length>0){
                    this.selectData.forEach(function (o) {
                        openids.push(o.openid);
                    });
                }
                self.formData.receivers+=openids.toString();
            },
            openSend: function (obj) {
                this.formData = {
                    wxid:"<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->",
                    type: "text",
                    content: "",
                    scope: "all",
                    receivers: ""
                };
                if (this.$refs["dialogForm"])
                    this.$refs["dialogForm"].resetFields();
                this.sendDialogVisible = true;
            },
            doSend: function () {
                var self = this;
                var url = base + "/platform/wx/msg/mass/sendDo";
                self.$refs["dialogForm"].validate(function (valid) {
                    if (valid) {//表单验证通过
                        self.formData.openids=JSON.stringify(self.formData.receivers);
                        $.post(url, self.formData, function (data) {
                            if (data.code == 0) {
                                self.sendDialogVisible = false;
                                self.$message({
                                    message: data.msg,
                                    type: 'success'
                                });
                                self.pageData();
                            } else {
                                self.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                            }
                        }, "json");
                    }
                });
            },
            change: function (val) {
                window.location.href = "${base}/platform/wx/msg/mass/" + val;
            }
        },
        created: function () {
            this.pageData();
        }
    });
</script>
<!--#
}
#-->