<%
layout("/layouts/platform.html"){
%>
#set($base = '${base}')
<header class="header navbar bg-white shadow">
    <div class="btn-group tool-button">
        <a class="btn btn-primary navbar-btn" href="$base${table.UriPrefix}" id="goBack" data-pjax><i class="ti-angle-left"></i>${msg['globals.button.back']}</a>
    </div>
</header>

<div class="content-wrap">
    <div class="wrapper" style="min-height:500px;">
        <section class="panel panel-form">
            <form id="addForm" role="form" class="form-horizontal parsley-form" data-parsley-validate
                  action="$base${table.UriPrefix}/addDo" method="post">
                <div class="row mb10">
                    <div class="col-lg-12">
#foreach ($column in $table.LabeledColumns)
                        <div class="form-group">
                            <label for="${column.FieldName}" class="col-sm-2 control-label">${column.label}</label>
                            <div class="col-sm-8">
#if ($column.isBoolean())
							<form:select path="${column.FieldName}" class="${column.ValidationFormClass}" placeholder="${column.label}">
								<form:option value="true">是</form:option>
								<form:option value="false">否</form:option>
							</form:select>
#else
                            <input type="text" id="${column.FieldName}" class="form-control" name="${column.FieldName}" data-parsley-required="true" placeholder="${column.label}">
#end
                            </div>
                        </div>
#end
                    </div>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="form-group text-center">
                        <label></label>

                        <div>
                            <button class="btn btn-primary btn-block btn-lg btn-parsley" data-loading-text="正在提交...">提 交</button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function () {
        $('#addForm').ajaxForm({
            dataType: 'json',
            beforeSubmit: function (arr, form, options) {
                form.find("button:submit").button("loading");
            },
            success: function (data, statusText, xhr, form) {
                if (data.code == 0) {
                    Toast.success(data.msg);
                    form.resetForm();
                } else {
                    Toast.error(data.msg);
                }
                form.find("button:submit").button("reset");
            }
        });
    });
</script>
<%}%>


