#set($obj = '${obj.')
#set($obj_id='${obj.id}')
#set($base = '${base}')
<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">${table.label}</a>
                        <small>${obj_id}</small>
                    </div>
                </header>
                <div class="list-group">
                    <table class="table table-bordered table-striped mg-t datatable">
                        <tbody>
                            #foreach ($column in $table.LabeledColumns)
                            <tr>
                                <td>${column.label}</td><td>$obj${column.fieldName}}</td>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>
