<div class="modal-body no-p">
    <div class="row">
        <div class="col-xs-12">
            <section class="panel panel-primary no-b">
                <header class="panel-heading clearfix brtl brtr">
                    <div class="overflow-hidden">
                        <a href="javascript:;" class="h4 show no-m pt5">${obj.username!}</a>
                        <small>${obj.loginname!}  [${obj.id!}]</small>
                    </div>
                </header>
                <div class="list-group">
                    <a href="javascript:;" class="list-group-item" title="Email">
                        <i class="ti-email mr10 text-muted"></i>${obj.email!}
                    </a>
                    <a href="javascript:;" class="list-group-item" title="用户状态">
                        <i class="ti-unlock mr10 text-muted"></i>
                        <% if(obj.disabled==false){ %>
                        <i class="fa fa-circle text-success ml5"></i>
                        <% }else{ %>
                        <i class="fa fa-circle text-danger ml5"></i>
                        <% } %>

                    </a>
                    <a href="javascript:;" class="list-group-item" title="在线状态">
                        <i class="ti-mouse-alt mr10 text-muted"></i>
                        <% if(obj.userOnline){ %>
                        <i class="fa fa-circle text-success ml5"></i>
                        <% }else{ %>
                        <i class="fa fa-circle text-danger ml5"></i>
                        <% } %>
                    </a>
                    <a href="javascript:;" class="list-group-item" title="登陆次数">
                        <i class="ti-light-bulb mr10 text-muted"></i>${obj.loginCount!}
                    </a>
                    <a href="javascript:;" class="list-group-item" title="最后登陆IP">
                        <i class="ti-desktop mr10 text-muted"></i>${obj.loginIp!}
                    </a>
                    <a href="javascript:;" class="list-group-item" title="最后登陆时间">
                        <i
                                class="ti-time mr10 text-muted"></i>
                        <%if(!isEmpty(obj.loginAt)){%>
                        ${@date.getDate(obj.loginAt)}
                        <%}%>
                    </a>
                    <a href="javascript:;" class="list-group-item" title="角色清单">
                        <i class="ti-menu mr10 text-muted"></i>

                        <%for(role in obj.roles){%>
                        ${role.name}[${role.code}] <% if(roleLP.index != obj.roles.~size) {%> , <% } %>
                        <%}%>
                    </a>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">知道了</button>
</div>