html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.6
}

body {
    -webkit-touch-callout: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: inherit
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px
}

* {
    margin: 0;
    padding: 0;
    font-style: normal
}

a {
    color: #607fa6;
    text-decoration: none
}

.container {
    overflow: hidden
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #888;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: -10px
}

.slider {
    overflow: hidden;
    position: relative
}

.swiper {
    height: 180px;
    overflow: hidden;
    position: relative
}

.swiper .item {
    float: left;
    position: relative
}

.swiper .item a {
    display: block
}

.swiper .item .img {
    display: block;
    width: 100%;
    height: 180px;
    background: center center no-repeat;
    background-size: cover
}

.swiper .item .desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.4em;
    font-size: 16px;
    padding: 20px 50px 12px 13px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .7) 100%);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .5);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.indicator {
    position: absolute;
    right: 15px;
    bottom: 10px
}

.indicator a {
    float: left;
    margin-left: 6px
}

.icon_dot {
    display: inline-block;
    vertical-align: middle;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #d0cdd1
}

.icon_dot.active {
    background-color: #6a666f
}

.tab_hd {
    height: 44px
}

.tab_hd_inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    font-size: 0;
    background-color: #f2f2f2
}

.tab_hd_inner .item {
    height: 44px;
    line-height: 44px;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    flex: 1;
    font-size: 15px;
    color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

.tab_hd_inner .item.active {
    color: #21b100
}

.tab_hd_inner .item:active {
    background-color: rgba(0, 0, 0, .1)
}

.article_list {
    background-color: #fff
}

.list_item {
    display: block;
    padding: 15px 15px 10px 10px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

.list_item:active {
    background-color: rgba(0, 0, 0, .1)
}

.list_item:after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    transform: scaleY(.5);
    left: 10px
}

.list_item:last-child:after {
    border: 0
}

.list_item .cover {
    float: left;
    margin-right: 10px
}

.list_item .cover .img {
    display: block;
    width: 80px;
    height: 60px
}

.list_item .cont {
    overflow: hidden
}

.list_item .cont .title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal
}

.list_item .cont .desc {
    font-size: 13px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.3
}

.more {
    text-align: center
}

.list-loading {
    text-align: center;
    color: #888;
    padding: 10px 0;
}