#sys_top
#sys_head


    <section class="layout">
        #sys_menu

        <section class="main-content" id="pjax-container">

            <div class="content-wrap">

                <div class="wrapper">
                    <dl class="accordion">
                        <dt>
                            <a href="javascript:;">2.0-SNAPSHOT</a>
                        </dt>
                        <dd>
                            <b>版本特性</b><br>
                            &#149; 集成Shrio权限框架<br>
                            &#149; 集成Ehcache缓存<br>
                            &#149; 支持语言国际化<br>
                            &#149; 支持注解式事务<br>
                            &#149; 支持动作链<br>
                            &#149; 支持注解式日志系统<br>
                            &#149; 支持插件在线安装卸载<br>
                            &#149; 集成Email服务<br>
                            &#149; 集成Quartz定时任务<br>
                            &#149; 集成Lucene搜索引擎<br>
                            &#149; 大数据研究...<br>
                            &#149; 采用Bootsrtap皮肤(Sublime)<br><br>
                            <b>当前运行环境</b><br>
                            &#149; $!{props['java.runtime.name']} $!{props['java.runtime.version']}<br>
                            &#149; $!{props['java.vm.name']} $!{props['java.vm.version']}<br>
                            &#149; $!{props['os.name']} $!{props['os.version']}<br>
                            &#149; $!{props['os.arch']} $!{props['sun.arch.data.model']}位<br><br>
                            <b>源码地址</b><br>
                            <a href="https://github.com/Wizzercn/NutzWk" target="_blank">https://github.com/Wizzercn/NutzWk</a>
                        </dd>
                        <dt>
                            <a href="javascript:;">使用说明</a>
                        </dt>
                        <dd>
                            <b>环境搭建</b><br>
                            &#149; 创建空的数据库<br>
                            &#149; 修改数据库连接 /resources/config/custom/db.properties<br>
                            &#149; nutz-1.b.53.jar 暂未正式发布，请将/lib下此包手动加到编译环境*<br>
                            &#149; 项目使用Maven构建，IDEA/Eclipse直接打开，等待包下载完毕即可<br>
                            &#149; cn.wizzer.modules.MainSetup 第45行（启动时初始化数据表）<br>
                            &#149; 用户名：superadmin  密码：1<br>
                            </dd>

                    </dl>
                </div>

            </div>

            </div>

            <a class="exit-offscreen"></a>
        </section>

    </section>

#sys_buttom
</body>

</html>
