#parse("/WEB-INF/template/common/top.html")
<div class="app">
    #parse("/WEB-INF/template/common/head.html")


    <section class="layout">
        #parse("/WEB-INF/template/common/menu.html")


        <section class="main-content">

            <div class="content-wrap">

                <div class="wrapper">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="dash-tile">
                                <div class="tile-title">ALL TIME EARNING</div>
                                <div class="tile-stats"><b>8068</b>
                                </div>
                                <div class="progress progress-xs mt5 mb10">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    </div>
                                </div>
                                <div class="tile-footer">
                                    Based on new sales
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="dash-tile bg-danger">
                                <div class="tile-title">
<span class="pull-right">
<i class="ti-arrow-circle-up mr5"></i>8%
</span>
                                    <span>Realtime page clicks</span>
                                </div>
                                <div class="tile-stats"><b>4565</b>
                                </div>
                                <div class="mb20"></div>
                                <div class="tile-chart tile-line"></div>
                                <div class="tile-footer">
                                    800ms intervals
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="dash-tile bg-success">
                                <div class="tile-title">ALL TIME EARNING</div>
                                <div class="tile-stats"><b>89790</b>
                                </div>
                                <div class="tile-bottom">
                                    <small><i class="ti-arrow-circle-up mr5"></i>4.6% Weekly <b>Change</b></small>
                                </div>
                                <div class="tile-footer">
                                    Based on new sales
                                </div>
                                <div class="tile-icon">
                                    <i class="ti-timer"></i>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="dash-tile bg-warning">
                                <div class="tile-title title-heading text-center bg-warning">
                                    <a href="javascript:;" class="widget-refresh"><i
                                            class="ti-reload pull-right"></i></a>
                                    <a href="javascript:;"><i class="ti-menu pull-left"></i></a>
                                    <span>Open support cases</span>
                                </div>
                                <div class="tile-stats"><b>478</b>
                                </div>
                                <div class="tile-bottom">
                                    <small><i class="ti-arrow-circle-down mr5"></i>.65% Weekly <b>Change</b></small>
                                </div>
                                <div class="tile-footer">
                                    Based on today's tickets
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="panel no-b rounded overflow-hidden">
                                <div class="panel-body no-p bg-primary">
                                    <div class="map clearfix" style="display: block;height: 200px;"></div>
                                    <div class="row text-center" style="padding: 40px 0;">
                                        <div class="col-xs-6 col-sm-3">
                                            <span class="h4 show count" data-from="0" data-to="5687" data-interval="50">0</span>
                                            <small class="text-uppercase">Customers</small>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <span class="h4 show count" data-from="0" data-to="78694">0</span>
                                            <small class="text-uppercase">Page Views</small>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <span class="h4 show count" data-from="0" data-to="12095">0</span>
                                            <small class="text-uppercase">Pingbacks</small>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <span class="h4 show count" data-from="0" data-to="9427" data-interval="50">0</span>
                                            <small class="text-uppercase">Bounce rate</small>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item no-b">
                                        <span class="badge bg-danger">14</span>
                                        Marshall Islands
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-success">2</span>
                                        Saint Kitts and Nevis
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge bg-warning">1</span>
                                        Antigua and Barbuda
                                    </li>
                                </ul>
                            </div>
                            <section class="widget">
                                <div class="row equal-blocks no-m">
                                    <div class="col-xs-6 block">
                                        <div class="text-center">
                                            <i class="fa fa-twitter fa-5x text-info"></i>
                                            <h6 class="text-uppercase">Twitter feed</h6>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 block bg-primary brtr brbr p25">
                                        <div class="arrow left"></div>
                                        <div class="widget-body">
                                            <em>Just released a new wordpress theme. Check it out: <a
                                                    href="http://themeforest.net/user/iamnyasha/portfolio?ref=iamnyasha">twitter.com/WGnEavg6Ok</a>
                                                鈥?Envanto(@Envanto) #Portfolio <a href="#" class="small">July 31,
                                                    2014</a></em>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="row">
                                <div class="col-sm-6">
                                    <section class="widget bg-primary">
                                        <div class="widget-body">
                                            <a href="javascript:;" class="pull-left mr15">
                                                <img src="img\avatar.jpg" class="avatar avatar-md img-circle" alt="">
                                            </a>

                                            <div class="overflow-hidden">
                                                <div>
                                                    <small class="pull-right">DEV</small>
                                                    <b>Gerald Morris</b>
                                                </div>
                                                <small class="show">San Francisco, CA</small>
                                                <small class="show">Interactive UX Developer</small>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-sm-6">
                                    <section class="widget bordered">
                                        <div class="panel-body">
                                            <a href="javascript:;" class="pull-left mr15">
                                                <img src="img\avatar.jpg" class="avatar avatar-md img-circle" alt="">
                                            </a>

                                            <div class="overflow-hidden">
                                                <b>Gerald Morris</b>
                                                <small class="show">6,387 Followers / 758 Following</small>
                                                <div class="show"></div>
                                                <a href="javascript:;" class="btn btn-primary btn-xs mt5">Send
                                                    request</a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <section class="widget">
                                <div class="widget-header bg-info">
                                    <i class="ti-arrow-circle-up text-white"></i>
                                    <span class="h3">4.48</span>
                                    <span>k</span>
                                    <span class="small show text-uppercase">23% Projected Growth</span>
                                </div>
                                <div class="widget-body bg-info">
                                    <div class="text-center mt15 mb10">
                                        <span class="dash-line"></span>
                                    </div>
                                </div>
                                <footer class="widget-footer text-center">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Sales</div>
                                            <div class="h4 no-m"><b>5467</b>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Referals</div>
                                            <div class="h4 no-m"><b>6873</b>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Reversals</div>
                                            <div class="h4 no-m"><b>8</b>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </section>
                            <section class="widget bg-danger">
                                <div class="cover rounded"
                                     style="background-image: url(img/DeathtoStock_Wired5.jpg)"></div>
                                <div class="overlay rounded bg-danger"></div>
                                <div class="widget-header text-center">
                                    <a href="javascript:;"><i class="ti-plus text-white pull-right"></i></a>
                                    <a href="javascript:;"><i class="ti-menu text-white pull-left"></i></a>
                                    <span>Quote</span>
                                </div>
                                <div class="widget-body">
                                    <blockquote class="no-p no-m">
                                        <p>This is dummy copy. It's Greek to you. Unless, of course, you're Greek, in
                                            which case, it really makes no sense. Why, you can't even read it! It is
                                            strictly for mock-ups. You may mock it up as strictly as you wish.</p>
                                        <small class="text-white">Steve Jobs, CEO Apple</small>
                                    </blockquote>
                                </div>
                                <footer class="widget-footer">
                                    <p class="small text-right">
                                        <a href="javascript:;" class="text-white mr10">Reply</a>
                                        <a href="javascript:;" class="text-white"><i class="ti-heart mr5"></i>Like</a>
                                    </p>
                                </footer>
                            </section>
                            <section class="widget">
                                <div class="cover rounded"
                                     style="background-image: url(img/DeathtoStock_Wired5.jpg)"></div>
                                <div class="overlay rounded bg-color"></div>
                                <div class="widget-body">
                                    <div class="text-white">
                                        <br>

                                        <p>Shaw, those twelve beige hooks are joined if I patch a young, gooey mouth.
                                        </p>

                                        <div class="mb10">
                                            <a href="javascript:;" class="text-muted mr15">
                                                <i class="ti-comment  mr5"></i>3523
                                            </a>
                                            <a href="javascript:;">
                                                <i class="ti-heart  text-danger mr5"></i>12K
                                            </a>
                                        </div>
                                        <ul class="text-white list-style-none">
                                            <i class="fa fa-star text-danger"></i>
                                            <i class="fa fa-star text-danger"></i>
                                            <i class="fa fa-star text-danger"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </ul>
                                        <a href="javascript:;" class="show small">View Product</a>
                                    </div>
                                </div>
                            </section>
                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <div class="h5">
                                        <i class="fa fa-facebook-square mr5"></i>
                                        <b>Facebook</b>
                                    </div>
                                </header>
                                <footer class="panel-footer text-center">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Friends</div>
                                            <div class="h4 no-m"><b>5434</b>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Photos</div>
                                            <div class="h4 no-m"><b>894</b>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="small show text-uppercase text-muted">Messages</div>
                                            <div class="h4 no-m"><b>08</b>
                                            </div>
                                        </div>
                                    </div>
                                </footer>
                            </section>
                        </div>
                    </div>
                    <div class="row mb25">
                        <div class="col-xs-12 text-right">
                            <i class="ti-arrow-circle-up text-success"></i>
                            <span class="h3">4.48</span>
                            <span>k</span>
                            <span class="small show">23% Projected Growth</span>
                        </div>
                    </div>
                </div>

            </div>

            <a class="exit-offscreen"></a>
        </section>

    </section>
</div>
#parse("/WEB-INF/template/common/buttom.html")

</body>

</html>
