/*全局定义*/
html,
body {
	scrollbar-arrow-color: #6688AA;
	scrollbar-3dlight-color: #AACCDD;
	scrollbar-shadow-color: #99BBCC;
	scrollbar-face-color: #DDEEFF;
	scrollbar-darkshadow-color: #DDEEFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-track-color: #EEEEEE;
}
html { height:100%; }
        body {
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            background-color: #ffffff;
        }

        .style1 {
            color: #516681
        }
        .stylebm {color: #ffffff}
a:link { color:#ffffff; text-decoration:none;}
a:visited { color:#ffffff;	text-decoration: none;}
a:hover { color:#ffffff; text-decoration:none;}

*{font-size:12px;}
ul,li { list-style-type:none;}
input,select,button,img { vertical-align:middle;}
p,a,span { word-break:break-all; word-wrap:break-word; white-space:normal;}
a,a img,button{ cursor:pointer;}

/*浮动*/
.clear{clear:both;height:0px;overflow: hidden;margin:0;padding:0;font-size:0}
.clearfix:after{content:"wq";display:block;height:0;clear:both;visibility:hidden;}
.clearfix {display:inline-block;}


/*头部*/
.header{height:56px; background:#2B9BCD;}
.logo{width:340px; float:left;}
.headRight{width:350px; float:right; color:#256b92;}
.headBg{width:342px; height:25px; line-height:25px; text-align:right;}
.headBg{float:right; color:yellow; text-decoration:none;}
.headBg a{color:yellow; text-decoration:none;}
.headBg a:hover{color:yellow; text-decoration:underline;}
.headWord{color:#ffffff;float:right; height:31px; line-height:31px; text-align:right; margin-right:10px;}
.m10{margin-right:10px;}
.m36{margin-right:15px;}
.m42{margin-right:15px;}

a {color:#000000; text-decoration:none;}
a:hover { color:#FF0000; text-decoration:underline;}
a.menu { color:#FFFFFF;	text-decoration: none;}
a.menu:hover { color:#FFFF00; text-decoration:underline;}
.fontR {
	color: #CC0000;
}
.font12{font-size:12px;font-weight:bold;}
.frame1 {
	border: 1px solid #97BBDB;
}


/*登录样式*/
.loginMain table td strong{margin-left:110px;text-align:right; font-size: 12px;text-decoration:none;color:#2a4a61;}
a.caoz,a.caoz:visited{ text-decoration:none; color:#6495ED;}
a.caoz:hover{ color:#FF6600;}

input.inputButton {
	+overflow:visible;
	color: #0099DD;
	background:#fff url(../../images/dialog/buttonBg.gif) repeat-x bottom left;
	border: 1px solid #667788;
	border-color: #AABBCC #99AABB #667788 #99AABB;
	cursor: pointer;
	height:20px;
	padding-left: 5px;
	padding-right: 4px;
	vertical-align:middle;
}
a.zInputBtn {
	display:inline-block;
	+zoom: 1;
	+display: inline;
	vertical-align:middle;
	height:21px;
	margin-right:2px;
	background:transparent url(../../images/dialog/zButtonBg.gif) no-repeat 0 0;
	padding-left:2px;
}
a.zInputBtn input,
a.zInputBtn input.inputButton {
	background:transparent url(../../images/dialog/zButtonBg.gif) no-repeat right top;
	position:relative;
	left:2px;
	color: #09D;
	+height: 21px;
	_height: 21px;
	line-height: 21px;
	_line-height:15px;
	padding: 0 11px 2px 7px;
	+padding: 0px 14px 0px 10px;
	vertical-align:middle;
	cursor:pointer;
	border:0 none #fff;
	outline:none;
}
a.zInputBtn input:hover,
a.zInputBtn input:active,
a.zInputBtn input:focus {
	border:0 none #fff;
	outline:none;
	-moz-outline:none;
}
a.zInputBtn input:focus { color:#000; }
a.zInputBtn:hover {
	background-image:url(../../images/dialog/zButtonBg_over.gif);
	text-decoration:none;
}
a.zInputBtn:hover input { background-image:url(../../images/dialog/zButtonBg_over.gif); }
