
.popup-hint {
    position: absolute
}

.popup-hint .hint-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1
}

.popup-hint .hint-loader {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
    width: 16px;
    height: 16px;
    background: url(images/hint_loader.gif) no-repeat 0 0
}

.popup-hint em {
    position: relative;
    float: left;
    width: 15px;
    height: 30px;
    overflow: hidden;
    background-image: url(images/hint_cor.png);
    _background: none
}

.popup-hint em b {
    display: none;
    _display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = 'images/hint_cor.png', sizingMethod = 'image')
}

.popup-hint .sl {
    background-position: 0 0
}

.popup-hint .sr {
    background-position: -15px 0
}

.popup-hint .sr b {
    left: -15px
}

.popup-hint span {
    float: left;
    height: 30px;
    padding-left: 15px;
    line-height: 31px;
    overflow: hidden;
    color: #FFF;
    background: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7F000000', endColorstr = '#7F000000')
}

html:root .popup-hint span {
    filter: none
}