/* CSS Document */
body,th,td,tr{margin:0;font-family:"宋体" ;font-size:12px;color:#525D63}
td{line-height:22px;}
.fontA{font-family:Arial;}
.bk{
	border:1px solid #96AAB5;
	background:#EEEFF3;
	font-size: 12px;
}
.bk1{border:1px solid #67B3EC;}
.bk2{border-top:1px solid #0783DF;border-left:1px solid #0783DF;border-right:1px solid #0783DF;border-bottom:1px solid #0783DF;}
.font14{font-size:14px;font-weight:bold;}
.bk3{border-top:1px solid #ffffff;border-left:1px solid #ffffff;border-right:1px solid #BFDCED;border-bottom:1px solid #BFDCED;}

a:link { color:#1A1A1A; text-decoration:none;}
/*a:visited { color:#1A1A1A;	text-decoration: none;}*/
a:hover { color:#005B9A; text-decoration:none;}

a.topmenu:link {
	color:#FFFFFF;
	text-decoration:none;
	font-size: 13px;
	font-weight: bold;
}
a.topmenu:visited {
	color:#ffffff;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}
a.topmenu:hover {
	color:#EAFF00;
	text-decoration:none;
	font-size: 13px;
	font-weight: bold;
}

.menubg a:link {display:block;width:90px;height:24px;padding-top:5px}
.menubg a:visited {display:block;width:90px;height:24px;padding-top:5px}
.menubg a:hover {display:block;width:84px;height:21px;background:url(../../images/private/sys/index_19.gif) no-repeat;padding-top:7px}

.leftmenu1bg a:link {display:block;width:178px;height:28px;padding:3px 0 0 30px;background:url(../../images/private/sys/index_45.gif) repeat-y;}
.leftmenu1bg a:visited {display:block;width:178px;height:28px;padding:3px 0 0 30px;background:url(../../images/private/sys/index_45.gif) repeat-y;}
.leftmenu1bg a:hover {display:block;width:178px;height:28px;background:url(../../images/private/sys/index_48.gif) repeat-y;padding:3px 0 0 30px;}

a.leftmenu1:link { color:#01426F; text-decoration:none;font-weight:bold;}
a.leftmenu1:visited { color:#01426F;text-decoration: none;font-weight:bold;}
a.leftmenu1:hover { color:#000000; text-decoration:none;font-weight:bold;}

a.leftmenu2:link { color:#506F7E; text-decoration:none;}
a.leftmenu2:visited { color:#506F7E;text-decoration: none;}
a.leftmenu2:hover { color:#FF0000; text-decoration:none;}

/*内页样式*/
.nytopmenubg a:link {display:block;width:110px;height:22px;background:url(../../images/private/sys/ny_02.gif) no-repeat;}
.nytopmenubg a:visited {display:block;width:110px;height:22px;background:url(../../images/private/sys/ny_02.gif) no-repeat;}
.nytopmenubg a:hover {display:block;width:110px;height:22px;background:url(../../images/private/sys/ny_01.gif) no-repeat;}

a.nytopmenu:link { color:#005D94; text-decoration:none;}
a.nytopmenu:visited { color:#005D94;text-decoration: none;}
a.nytopmenu:hover { color:#ffffff; text-decoration:none;font-weight:bold;}

.bt{background:url(../../images/private/sys/ny_07.gif) repeat-x;border:1px solid #BFD2E5;color:#21466C;font-weight:bold}
.nybk{border-top:1px solid #9FD6FF;border-left:1px solid #9FD6FF;border-right:1px solid #9FD6FF;border-bottom:3px solid #9FD6FF;}

.bjbk{border-left:3px solid #fff;border-top:3px solid #fff;border-right:3px solid #E7F4FD;border-bottom:3px solid #E7F4FD;}
.bjdownline{border-bottom:1px solid #ffffff}
