<!--#
layout("/layouts/platform.html"){
#-->
<link rel="stylesheet" href="${base!}/assets/platform/plugins/codemirror/codemirror.css">
<script src="${base!}/assets/platform/plugins/codemirror/codemirror.js"></script>
<script src="${base!}/assets/platform/plugins/codemirror/vue-codemirror.js"></script>
<div id="app" v-cloak>
    <el-row class="header navbar bg-white shadow">
        <div class="btn-group tool-button mt5">
            <a class="el-button el-button--default el-button--medium" href="${base}/platform/sys/app" data-pjax><i
                    class="ti-angle-left"></i>返回</a>
            <el-button size="medium" @click="openAdd">
                <i class="ti-plus"></i>
                添加配置
            </el-button>
        </div>
        <div class="btn-group tool-button mt5">
            <el-input @keyup.native="doSearch" placeholder="请输入内容" v-model="pageForm.confName" size="medium">
                <template slot="prepend">实例名称</template>
            </el-input>
        </div>
    </el-row>
    <el-row class="el-table-container">
        <el-table
                :data="tableData"
                @sort-change='pageOrder'
                size="small"
                header-align="center"
                style="width: 100%"
                :default-sort = "{prop: 'opAt', order: 'descending'}"
        >
            <el-table-column
                    sortable
                    prop="confName"
                    label="实例名称"
                    header-align="center"
                    align="center"
            >
            </el-table-column>
            <el-table-column
                    sortable
                    prop="confVersion"
                    label="版本号"
                    width="100"
            >
            </el-table-column>
            <el-table-column
                    label="文件下载"
                    header-align="center"
                    align="center">
                <template slot-scope="scope">
                    <a style="color: #0e5996" :href="base+'/platform/sys/app/conf/download/'+scope.row.id" target="_blank">{{scope.row.confName}}-{{scope.row.confVersion}}.properties</a>
                </template>
            </el-table-column>
            <el-table-column
                    sortable
                    prop="opAt"
                    label="上传时间"
                    header-align="center" align="center">
                <template slot-scope="scope">
                    {{formatAt(scope.row.opAt)}}
                </template>
            </el-table-column>
            <el-table-column
                    sortable
                    prop="opAt"
                    label="上传人"
                    header-align="center" align="center">
                <template slot-scope="scope">
                    {{scope.row.user.loginname}}
                </template>
            </el-table-column>
            <el-table-column
                    sortable
                    prop="disabled"
                    label="启用状态"
                    header-align="center"
                    align="center"
                    width="100"
            >
                <template slot-scope="scope">
                    <i v-if="scope.row.disabled" class="fa fa-circle text-danger ml5"></i>
                    <i v-if="!scope.row.disabled" class="fa fa-circle text-success ml5"></i>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-dropdown @command="dropdownCommand">
                        <el-button size="mini">
                            <i class="ti-settings"></i>
                            <span class="ti-angle-down"></span>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item
                                    :command="{type:'edit',row:scope.row}">
                                修改
                            </el-dropdown-item>
                            <el-dropdown-item
                                    :command="{type:'enable',row:scope.row}">
                                启用
                            </el-dropdown-item>
                            <el-dropdown-item
                                    :command="{type:'disable',row:scope.row}">
                                禁用
                            </el-dropdown-item>
                            <el-dropdown-item divided
                                              :command="{type:'delete',row:scope.row}">
                                删除
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row class="el-pagination-container">
        <el-pagination
                @size-change="pageSizeChange"
                @current-change="pageNumberChange"
                :current-page="pageForm.pageNumber"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pageForm.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageForm.totalCount">
        </el-pagination>
    </el-row>
    <el-dialog
            title="添加配置"
            :visible.sync="addDialogVisible"
            :close-on-click-modal="false"
            width="60%">
        <el-form :model="formData" ref="addForm" :rules="formRules" size="small" label-width="80px">
            <el-form-item prop="confName" label="实例名称">
                <el-autocomplete
                        class="inline-input"
                        v-model="formData.confName"
                        :fetch-suggestions="queryConfName"
                        placeholder="保持和配置文件中实例名称一致"
                        style="width: 220px;"
                ></el-autocomplete>
            </el-form-item>
            <el-form-item prop="confVersion" label="版本号">
                <el-input maxlength="20" placeholder="版本号不可用特殊字符"
                          v-model="formData.confVersion"
                          auto-complete="off" tabindex="2" type="text"
                          style="width: 220px;"></el-input>
            </el-form-item>
            <el-form-item prop="confData" label-width="2px">
                <codemirror v-model="formData.confData" :options="cmOptions" style="line-height:20px;border:1px solid silver;"></codemirror>

            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="addDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="doAdd">确 定</el-button>
        </span>
    </el-dialog>
    <el-dialog
            title="修改配置"
            :visible.sync="editDialogVisible"
            :close-on-click-modal="false"
            width="60%">
        <el-form :model="formData" ref="editForm" :rules="formRules" size="small" label-width="80px">
            <el-form-item prop="confName" label="实例名称">
                {{formData.confName}}
            </el-form-item>
            <el-form-item prop="confVersion" label="版本号">
                {{formData.confVersion}}
            </el-form-item>
            <el-form-item prop="confData" label-width="2px">
                <codemirror v-model="formData.confData" :options="cmOptions" style="line-height:20px;border:1px solid silver;"></codemirror>

            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="editDialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="doEdit">确 定</el-button>
        </span>
    </el-dialog>
</div>
<script>
    Vue.use(window.VueCodemirror);
    new Vue({
        el: "#app",
        data: function () {
            return {
                addDialogVisible: false,
                editDialogVisible: false,
                visiableData: [],
                tableData: [],
                pageForm: {
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending",
                    confName: ""
                },
                formData: {
                    id: "",
                },
                formRules: {
                    confName: [
                        {required: true, message: '实例名称', trigger: 'blur'}
                    ],
                    confVersion: [
                        {required: true, message: '版本号', trigger: 'blur'}
                    ],
                    confData: [
                        {required: true, message: '配置内容', trigger: 'blur'}
                    ],
                },
                cmOptions: {
                    // codemirror options
                    tabSize: 4,
                    mode: 'text/javascript',
                    theme: 'elegant',
                    lineNumbers: true,
                    line: true,
                    // more codemirror options, 更多 codemirror 的高级配置...
                }
            }
        },
        methods: {
            pageOrder: function (column) {//按字段排序
                this.pageForm.pageOrderName = column.prop;
                this.pageForm.pageOrderBy = column.order;
                this.pageData();
            },
            pageNumberChange: function (val) {//页码更新操作
                this.pageForm.pageNumber = val;
                this.pageData();
            },
            pageSizeChange: function (val) {//分页大小更新操作
                this.pageForm.pageSize = val;
                this.pageData();
            },
            pageData: function () {//加载分页数据
                var self = this;
                sublime.showLoadingbar();//显示loading
                $.post(base + "/platform/sys/app/conf/data", self.pageForm, function (data) {
                    sublime.closeLoadingbar();//关闭loading
                    if (data.code == 0) {
                        self.tableData = data.data.list;
                        self.pageForm.totalCount = data.data.totalCount;
                    } else {
                        self.$message({
                            message: data.msg,
                            type: 'error'
                        });
                    }
                }, "json");
            },
            formatAt: function (val) {
                if (val && val > 0)
                    return moment(val * 1000).format("YYYY-MM-DD HH:mm");
                return "";
            },
            doSearch: function () {
                this.pageForm.pageNumber = 1;
                this.pageData();
            },
            openAdd: function () {
                this.addDialogVisible = true;
                this.formData = {
                    id: "",
                    confName: "",
                    confVersion: "",
                    confData:""
                };//打开新增窗口,表单先清空
                if (this.$refs["addForm"])
                    this.$refs["addForm"].resetFields();
            },
            doAdd: function () {
                var self = this;
                self.$refs["addForm"].validate(function (valid) {
                    if (valid) {
                        $.post(base + "/platform/sys/app/conf/addDo", self.formData, function (data) {
                            if (data.code == 0) {
                                self.$message({
                                    message: data.msg,
                                    type: 'success'
                                });
                                self.addDialogVisible = false;
                            } else {
                                self.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                            }
                            self.pageData();//添加失败也可以入库,所以加载一下看看
                        }, "json");
                    }
                });
            },
            doEdit: function () {
                var self = this;
                var url = base + "/platform/sys/app/conf/editDo";
                self.$refs["editForm"].validate(function (valid) {
                    if (valid) {
                        $.post(url, self.formData, function (data) {
                            if (data.code == 0) {
                                self.$message({
                                    message: data.msg,
                                    type: 'success'
                                });
                                self.editDialogVisible = false;
                                self.pageData();//重新加载分页数据
                            } else {
                                self.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                            }
                        }, "json");
                    }
                });
            },
            dropdownCommand: function (command) {//监听下拉框事件
                var self = this;
                if ("edit" == command.type) {
                    $.post(base + "/platform/sys/app/conf/edit/" + command.row.id, {}, function (data) {
                        if (data.code == 0) {
                            self.formData = data.data;//加载后台表单数据
                            self.editDialogVisible = true;//打开编辑窗口
                        } else {
                            self.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        }
                    }, "json");
                }
                if ("enable" == command.type || "disable" == command.type) {
                    $.post(base + "/platform/sys/app/conf/" + command.type + "/" + command.row.id, {}, function (data) {
                        if (data.code == 0) {
                            self.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            if ("disable" == command.type) {
                                command.row.disabled = true;
                            }
                            if ("enable" == command.type) {
                                command.row.disabled = false;
                            }
                        } else {
                            self.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        }
                    }, "json");
                }
                if ("delete" == command.type) {
                    self.$confirm('此操作将删除 ' + command.row.confName+'-'+command.row.confVersion+'.properties', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning',
                        callback: function (a, b) {
                            if ("confirm" == a) {//确认后再执行
                                $.post(base + "/platform/sys/app/conf/delete/" + command.row.id, {}, function (data) {
                                    if (data.code == 0) {
                                        self.$message({
                                            message: data.msg,
                                            type: 'success'
                                        });
                                        self.doSearch();
                                    } else {
                                        self.$message({
                                            message: data.msg,
                                            type: 'error'
                                        });
                                    }
                                }, "json");
                            }
                        }
                    });
                }
            },
            queryConfName: function (confName, cb) {
                $.post(base + "/platform/sys/app/conf/search", {confName: confName}, function (data) {
                    if (data.code == 0) {
                        var list=data.data;
                        var names=[];
                        list.forEach(function (obj) {
                            names.push({value:obj});
                        });
                        cb(names);
                    }
                }, "json");
            }
        },
        created: function () {
            this.pageData();
        }
    });
</script>

<!--#
}
#-->