<%
layout("/layouts/platform.html"){
%>
<div class="pull-right" style="padding-top: 20px;z-index:999">

    <div style="position:absolute;top:100px;right:320px;">
        <span style="color: red;font-size: 14px;">欢迎打赏</span><br>
        <img src="${base}/assets/img/zfb2.jpg" width="255" height="450"></div>
    <div style="position:absolute;top:100px;right:50px;">
        <br>
        <img src="${base}/assets/img/wx2.jpg" width="255" height="450"></div>
</div>
<div class="content-wrap">

    <div class="wrapper">
        <dl class="accordion">
            <dt>
                <a href="javascript:;" class="active">NutzWk-NB-Dubbo</a>
            </dt>
            <dd style="display: block">
                <b>源码地址</b><br>
                <a href="https://github.com/Wizzercn/NutzWk/tree/nutzboot-dubbo" target="_blank">https://github.com/Wizzercn/NutzWk</a>
                <br>
                <b>社区地址</b><br>
                <a href="https://nutz.cn" target="_blank">https://nutz.cn</a>
                <br>
                <b>咨询 | 合作</b><br>
                Nutz社区群（技术交流）：68428921<br>
                作者QQ（定制开发）：11624317<br>
                <br><br>
                <br>
                <span style="font-weight:bold;font-size: 14px;width: 120px;">NutzWk 是采用 Apache Licence 2.0许可的开源项目，<br>使用完全免费，但请勿拿框架本身去申请专利或软著。</span>
                <br>
                <br>
            </dd>

        </dl>
    </div>

</div>

<%}%>
