<!--#
layout("/layouts/platform.html"){
#-->
<style>
    .el-upload input[type=file] {
        display: none;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
    }

    .avatar {
        width: 80px;
        height: 80px;
        display: block;
    }
</style>
<div id="app" v-cloak>
    <el-row class="header navbar bg-white shadow">
        <div class="btn-group tool-button mt5">
            <span>微信公众号：</span>
            <el-select size="medium" v-model="pageForm.wxid" placeholder="请选择" @change="change">
                <el-option
                        v-for="item in wxConfigs"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
        <div class="btn-group tool-button mt5">
            <el-button size="medium" @click="openAdd">
                <i class="ti-plus"></i>
                新建图文
            </el-button>
        </div>
        <div class="pull-right offscreen-right mt5">
            <el-button size="medium" @click="delMore" type="danger" :disabled="selectData.length==0">
                <i class="el-icon-delete"></i>
                删除
            </el-button>
        </div>
    </el-row>
    <el-row class="el-table-container">
        <el-table
                :data="tableData"
                @sort-change='pageOrder'
                size="small"
                header-align="center"
                style="width: 100%"
                @selection-change="handleSelectionChange"
                :default-sort="{prop: 'opAt', order: 'descending'}"
        >
            <el-table-column
                    type="selection"
                    width="35">
            </el-table-column>

            <el-table-column label="标题" header-align="left" prop="title"
                             :show-overflow-tooltip="true">
            </el-table-column>

            <el-table-column label="描述" header-align="left" prop="description"
                             :show-overflow-tooltip="true">
            </el-table-column>

            <el-table-column label="图片" header-align="left" prop="picUrl2"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <img v-if="scope.row.picUrl2!=''" :src="scope.row.picUrl2" width="50" height="50">
                </template>
            </el-table-column>

            <el-table-column label="跳转链接" header-align="left" prop="url"
                             :show-overflow-tooltip="true">
            </el-table-column>

            <el-table-column
                    prop="id"
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-dropdown @command="dropdownCommand">
                        <el-button size="mini">
                            <i class="ti-settings"></i>
                            <span class="ti-angle-down"></span>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="{type:'edit',id:scope.row.id}">
                                修改
                            </el-dropdown-item>
                            <el-dropdown-item
                                    :command="{type:'delete',id:scope.row.id,title:scope.row.title}">
                                删除
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>
    </el-row>
    <el-row class="el-pagination-container">
        <el-pagination
                @size-change="pageSizeChange"
                @current-change="pageNumberChange"
                :current-page="pageForm.pageNumber"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pageForm.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageForm.totalCount">
        </el-pagination>
    </el-row>

    <el-dialog
            title="新建图文"
            :visible.sync="addDialogVisible"
            width="50%">
        <el-form :model="formData" ref="addForm" :rules="formRules" size="small" label-width="80px">
            <el-form-item prop="title" label="标题">
                <el-input maxlength="100" placeholder="标题"
                          v-model="formData.title"
                          auto-complete="off" tabindex="1" type="text"></el-input>
            </el-form-item>
            <el-form-item prop="description" label="描述">
                <el-input type="textarea" v-model="formData.description" tabindex="2"></el-input>
            </el-form-item>
            <el-form-item prop="picUrl2" label="上传图片(2M以内)">
                <el-upload
                        class="avatar-uploader"
                        tabindex="5"
                        action="${base}/platform/wx/reply/news/uploadImage/<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->"
                        name="Filedata"
                        :before-upload="beforeImageUpload"
                        :show-file-list="false"
                        :on-success="function(resp,file,fileList){return handlePicSuccess(resp,file,fileList,'picUrl2')}">
                    <img v-if="formData.picUrl2" :src="formData.picUrl2" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item>

                <el-autocomplete
                        style="width: 250px;"
                        v-model="channelId"
                        :fetch-suggestions="queryChannel"
                        placeholder="请输入标题"
                        @select="handleChannelSelect"
                >
                    <span slot="prepend">搜索栏目</span>
                </el-autocomplete>
                <el-autocomplete
                        style="width: 250px;"
                        v-model="articleId"
                        :fetch-suggestions="queryArticle"
                        placeholder="请输入标题"
                        @select="handleArticleSelect"
                >
                    <span slot="prepend">搜索文章</span>
                </el-autocomplete>
            </el-form-item>
            <el-form-item prop="url" label="跳转链接">
                <el-input placeholder="网址"
                          v-model="formData.url"
                          auto-complete="off" tabindex="3" type="text"></el-input>
            </el-form-item>
            <el-form-item>
                <el-alert
                        title="请确保系统参数 AppDomain 为公网可访问域名或IP"
                        type="warning">
                </el-alert>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
                    <el-button @click="addDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="doAdd">确 定</el-button>
                  </span>
    </el-dialog>

    <el-dialog
            title="修改图文"
            :visible.sync="editDialogVisible"
            width="40%">
        <el-form :model="formData" ref="editForm" :rules="formRules" size="small" label-width="80px">
            <el-form-item prop="title" label="标题">
                <el-input maxlength="100" placeholder="标题"
                          v-model="formData.title"
                          auto-complete="off" tabindex="1" type="text"></el-input>
            </el-form-item>
            <el-form-item prop="description" label="描述">
                <el-input type="textarea" v-model="formData.description" tabindex="2"></el-input>
            </el-form-item>
            <el-form-item prop="picUrl2" label="上传图片(2M以内)">
                <el-upload
                        class="avatar-uploader"
                        tabindex="5"
                        action="${base}/platform/wx/reply/news/uploadImage/<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->"
                        name="Filedata"
                        :before-upload="beforeImageUpload"
                        :show-file-list="false"
                        :on-success="function(resp,file,fileList){return handlePicSuccess(resp,file,fileList,'picUrl2')}">
                    <img v-if="formData.picUrl2" :src="formData.picUrl2" class="avatar">
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
            </el-form-item>
            <el-form-item>

                <el-autocomplete
                        style="width: 250px;"
                        v-model="channelId"
                        :fetch-suggestions="queryChannel"
                        placeholder="请输入标题"
                        @select="handleChannelSelect"
                >
                    <span slot="prepend">搜索栏目</span>
                </el-autocomplete>
                <el-autocomplete
                        style="width: 250px;"
                        v-model="articleId"
                        :fetch-suggestions="queryArticle"
                        placeholder="请输入标题"
                        @select="handleArticleSelect"
                >
                    <span slot="prepend">搜索文章</span>
                </el-autocomplete>
            </el-form-item>
            <el-form-item prop="url" label="跳转链接">
                <el-input placeholder="网址"
                          v-model="formData.url"
                          auto-complete="off" tabindex="3" type="text"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
                    <el-button @click="editDialogVisible = false">取 消</el-button>
                    <el-button type="primary" @click="doEdit">确 定</el-button>
                  </span>
    </el-dialog>
</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            var wxConfigs = [];
            <!--#for(o in wxList){#-->
            wxConfigs.push({value: "${o.id!}", label: "${o.appname!}"});
            <!--#}#-->
            var validateUrl = function (rule, value, callback) {
                if (value != "" && (value.indexOf("http://") == 0 || value.indexOf("https://") == 0)) {
                    callback();
                } else {
                    callback(new Error('请输入正确的URL路径'));
                }
            };
            return {
                wxConfigs: wxConfigs,
                addDialogVisible: false,
                editDialogVisible: false,
                selectData: [],
                channelId: "",
                articleId: "",
                pageForm: {
                    wxid: "<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->",
                    searchName: "",
                    searchKeyword: "",
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending"
                },
                tableData: [],
                formData: {
                    id: "",
                },
                formRules: {
                    title: [
                        {required: true, message: '标题', trigger: 'blur'}
                    ],
                    description: [
                        {required: true, message: '描述', trigger: 'blur'}
                    ],
                    picUrl: [
                        {required: true, message: '图片', trigger: 'blur'}
                    ],
                    url: [
                        {required: true, message: '跳转链接', trigger: 'blur'},
                        {validator: validateUrl, trigger: ['blur', 'change']}
                    ]
                },
            }
        },
        methods: {
            pageOrder: function (column) {//按字段排序
                this.pageForm.pageOrderName = column.prop;
                this.pageForm.pageOrderBy = column.order;
                this.pageData();
            },
            pageNumberChange: function (val) {//页码更新操作
                this.pageForm.pageNumber = val;
                this.pageData();
            },
            pageSizeChange: function (val) {//分页大小更新操作
                this.pageForm.pageSize = val;
                this.pageData();
            },
            pageData: function () {//加载分页数据
                var self = this;
                sublime.showLoadingbar();//显示loading
                $.post(base + "/platform/wx/reply/news/data", self.pageForm, function (data) {
                    sublime.closeLoadingbar();//关闭loading
                    if (data.code == 0) {
                        self.tableData = data.data.list;
                        self.pageForm.totalCount = data.data.totalCount;
                    } else {
                        self.$message({
                            message: data.msg,
                            type: 'error'
                        });
                    }
                }, "json");
            },
            formatAt: function (val) {
                if (val > 0)
                    return moment(val * 1000).format("YYYY-MM-DD HH:mm");
                return "";
            },
            handleSelectionChange: function (val) {
                this.selectData = val;
            },
            openAdd: function () {
                var self = this;
                self.addDialogVisible = true;
                self.channelId = "";
                self.articleId = "";
                self.formData = {
                    id: "",
                    wxid: "<!--#if(!isEmpty(wxConfig)){#-->${wxConfig.id!}<!--#}#-->",
                    picUrl: "",
                    picUrl2: "",
                    url: ""
                };//打开新增窗口,表单先清空
                if (self.$refs["addForm"])
                    self.$refs["addForm"].resetFields();
            },
            doAdd: function () {
                var self = this;
                var url = base + "/platform/wx/reply/news/addDo";
                self.$refs["addForm"].validate(function (valid) {
                    if (valid) {//表单验证通过
                        $.post(url, self.formData, function (data) {
                            if (data.code == 0) {
                                self.$message({
                                    message: data.msg,
                                    type: 'success'
                                });
                                self.addDialogVisible = false;
                                self.pageData();
                            } else {
                                self.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                            }
                        }, "json");
                    }
                });
            },
            doEdit: function () {
                var self = this;
                var url = base + "/platform/wx/reply/news/editDo";
                self.$refs["editForm"].validate(function (valid) {
                    if (valid) {//表单验证通过
                        $.post(url, self.formData, function (data) {
                            if (data.code == 0) {
                                self.$message({
                                    message: data.msg,
                                    type: 'success'
                                });
                                self.editDialogVisible = false;
                                self.pageData();
                            } else {
                                self.$message({
                                    message: data.msg,
                                    type: 'error'
                                });
                            }
                        }, "json");
                    }
                });
            },
            delMore: function () {
                var self = this;
                if (self.selectData.length == 0) {
                    self.$message({
                        message: "请选择消息",
                        type: 'warning'
                    });
                    return false;
                }
                var ids = [];
                self.selectData.forEach(function (val) {
                    ids.push(val.id);
                });
                self.$confirm('您确定要删除选中的 ' + ids.length + ' 条数据？ ', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    callback: function (a, b) {
                        if ("confirm" == a) {//确认后再执行
                            $.post(base + "/platform/wx/reply/news/delete", {ids: ids.toString()}, function (data) {
                                if (data.code == 0) {
                                    self.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    self.pageData();
                                } else {
                                    self.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            }, "json");
                        }
                    }
                });
            },
            dropdownCommand: function (command) {//监听下拉框事件
                var self = this;
                if ("edit" == command.type) {
                    self.channelId = "";
                    self.articleId = "";
                    $.post(base + "/platform/wx/reply/news/edit/" + command.id, {}, function (data) {
                        if (data.code == 0) {
                            self.formData = data.data;//加载后台表单数据
                            self.editDialogVisible = true;//打开编辑窗口
                        } else {
                            self.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        }
                    }, "json");
                }
                if ("delete" == command.type) {
                    self.$confirm('此操作将删除图文： ' + command.title, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning',
                        callback: function (a, b) {
                            if ("confirm" == a) {//确认后再执行
                                $.post(base + "/platform/wx/reply/news/delete/" + command.id, {}, function (data) {
                                    if (data.code == 0) {
                                        self.$message({
                                            message: data.msg,
                                            type: 'success'
                                        });
                                        self.pageData();
                                    } else {
                                        self.$message({
                                            message: data.msg,
                                            type: 'error'
                                        });
                                    }
                                }, "json");
                            }
                        }
                    });
                }
            },
            handlePicSuccess: function (response, file, fileList, attrName) {
                if (response.code == 0) {
                    // 对象属性直接赋值不会触发试图更新，采用 Vue.set 、this.$set或者Object.assign({}，this.obj)创建新对象
                    // 或者也可以定义一个 refresh 属性 ，当数据发生改变时，该属性同时变化，也会触发视图更新
                    // this.formData.site_logo =response.data;
                    this.$set(this.formData, "picUrl", response.data.picurl);
                    this.$set(this.formData, "picUrl2", response.data.picurl2);
                    this.$set(this.formData, "mediaId", response.data.id);
                } else {
                    this.$message({
                        message: response.msg,
                        type: 'error'
                    });
                    this.$set(this.formData, "picUrl", "");
                    this.$set(this.formData, "picUrl2", "");
                    this.$set(this.formData, "mediaId", "");
                }
            },
            beforeImageUpload: function (file) {
                var isLt2M = file.size / 1024 / 1024 < 2;
                if ("image/jpeg" != file.type && "image/png" != file.type) {
                    this.$message.error('上传图片只能是 JPG 或 PNG 格式');
                    return false;
                }
                if (!isLt2M) {
                    this.$message.error('上传图片大小不能超过 2MB');
                    return false;
                }
                return true;
            },
            queryChannel: function (queryString, cb) {
                $.post(base + "/platform/wx/reply/news/channel_data", {
                    searchName: "name",
                    searchKeyword: queryString,
                    pageNumber: 1,
                    pageSize: 10,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending"
                }, function (data) {
                    if (data.code == 0) {
                        var res = [];
                        data.data.list.forEach(function (o) {
                            res.push({value: o.name, id: o.id})
                        });
                        cb(res);
                    }
                }, "json");
            },
            handleChannelSelect: function (val) {
                var domain = "${AppDomain!}";
                this.formData.url = domain + "/public/wx/cms/channel/" + val.id;
            },
            queryArticle: function (queryString, cb) {
                $.post(base + "/platform/wx/reply/news/article_data", {
                    searchName: "title",
                    searchKeyword: queryString,
                    pageNumber: 1,
                    pageSize: 10,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending"
                }, function (data) {
                    if (data.code == 0) {
                        var res = [];
                        data.data.list.forEach(function (o) {
                            res.push({value: o.title, id: o.id})
                        });
                        cb(res);
                    }
                }, "json");
            },
            handleArticleSelect: function (val) {
                var domain = "${AppDomain!}";
                this.formData.url = domain + "/public/wx/cms/article/" + val.id;
            },
            change: function (val) {
                window.location.href = "${base}/platform/wx/reply/news/index/" + val;
            }
        },
        created: function () {
            this.pageData();
        }
    });
</script>
<!--#
}
#-->