<!--#
layout("/layouts/platform.html"){
#-->
<div id="app" v-cloak>
    <el-row class="header navbar bg-white shadow">
        <div class="btn-group tool-button mt5">
            <el-button size="medium" @click="openAdd">
                <i class="ti-plus"></i>
                新建菜单
            </el-button>
        </div>
        <div class="pull-right offscreen-right mt5">
            <el-button size="medium" @click="openAdd">
                排序
            </el-button>
        </div>
    </el-row>
    <el-row class="el-table-container">
        <el-table :data="treeData" style="width: 100%" :row-style="treeTableShowTr" size="small"
                  :highlight-current-row="true">
            <el-table-column label="菜单名称" header-align="center" prop="name"
                             width="200" :show-overflow-tooltip="true" align="left">
                <template slot-scope="scope">
                    <span v-for="(space, levelIndex) in treeTablePath(scope.row.path)" class="ms-tree-space"></span>
                    <span v-if="treeTableIconShow(scope.row)" @click="treeTableChild(scope.row.id)"
                          style="cursor: pointer">
                        <span v-if="!scope.row.expanded"
                              class="el-tree-node__expand-icon el-icon-caret-right" title="展开"></span>

                        <span v-if="scope.row.expanded"
                              class="el-tree-node__expand-icon el-icon-caret-right expanded" title="关闭"></span>
                        <i v-if="scope.row.icon!=''" :class="scope.row.icon"></i>
                        {{ scope.row.name }}
                    </span>
                    <span v-if="!treeTableIconShow(scope.row)">
                        <span class="ms-tree-space"></span>
                        <i v-if="scope.row.icon!=''" :class="scope.row.icon"></i>
                        {{ scope.row.name }}
                    </span>
                </template>
            </el-table-column>

            <el-table-column label="URL" header-align="center" prop="href"
                             :show-overflow-tooltip="true">
            </el-table-column>

            <el-table-column label="资源类型" header-align="center" prop="type"
                             :show-overflow-tooltip="true" align="center">
                <template slot-scope="scope">
                    <i v-if="scope.row.type=='menu'" style="font-weight: bold">菜单</i>
                    <i v-if="scope.row.type=='data'">数据</i>
                </template>
            </el-table-column>

            <el-table-column label="权限标识" header-align="center" prop="permission"
                             :show-overflow-tooltip="true">
            </el-table-column>

            <el-table-column label="启用状态" header-align="center" prop="disabled" align="center"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <i :id="'disabled_'+scope.row.id" v-if="scope.row.disabled" class="fa fa-circle text-danger ml5"></i>
                    <i :id="'disabled_'+scope.row.id" v-if="!scope.row.disabled" class="fa fa-circle text-success ml5"></i>
                </template>
            </el-table-column>

            <el-table-column label="操作" header-align="center" prop="website"
                             :show-overflow-tooltip="true" align="center" width="120">
                <template slot-scope="scope">
                    <el-dropdown @command="dropdownCommand">
                        <el-button size="mini">
                            <i class="ti-settings"></i>
                            <span class="ti-angle-down"></span>
                        </el-button>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item :command="{type:'add',id:scope.row.id,name:scope.row.name}">
                                添加子菜单
                            </el-dropdown-item>
                            <el-dropdown-item divided :command="{type:'enable',id:scope.row.id,name:scope.row.name}">
                                启用
                            </el-dropdown-item>
                            <el-dropdown-item :command="{type:'disable',id:scope.row.id,name:scope.row.name}">
                                禁用
                            </el-dropdown-item>
                            <el-dropdown-item divided :command="{type:'edit',id:scope.row.id,name:scope.row.name}">
                                修改
                            </el-dropdown-item>
                            <el-dropdown-item :command="{type:'delete',id:scope.row.id,name:scope.row.name}"
                                              v-if="scope.row.path!='0001'">
                                删除
                            </el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                </template>
            </el-table-column>
        </el-table>

    </el-row>

</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                addDialogVisible: false,
                editDialogVisible: false,
                tableData: [],//后台取出的数据
                treeData: [],//格式化tableData用于显示的数据
                form: {
                    id: "",
                    parentId: ""
                },
                formRules: {
                    name: [
                        {required: true, message: '菜单名称', trigger: 'blur'}
                    ]
                },
                options: [],
                parentUnit: []
            }
        },
        methods: {
            openAdd: function () {

            },
            // 显示层级
            treeTablePath: function (path) {
                return path.length / 4 - 1;
            },
            // 显示行
            treeTableShowTr: function (row, index) {
                var parentIndex = this.treeData.findIndex(function (value) {
                    return value.id === row.row.parentId;
                });
                var show = (row.row.parentId ? (this.treeData[parentIndex].expanded && this.treeData[parentIndex]._show) : true);
                row.row._show = show;
                return show ? '' : 'display:none;'
            },
            treeDataChildren: function (table, data, pid) {//树形数据的级联查找很是头疼
                var self = this;
                table.findIndex(function (obj) {
                    if (pid == obj.id) {//找到这条数据追加下级数据
                        obj.children = data;
                        obj.expanded = !obj.expanded;
                    } else if (obj.children && obj.children.length > 0) {
                        self.treeDataChildren(obj.children, data, pid);
                    }
                });
            },
            // 展开下级
            treeTableChild: function (pid) {
                var self = this;
                var url = base + "/platform/sys/menu/child";
                $.post(url, {pid: pid}, function (data) {
                    if (data.code == 0) {
                        if (pid != undefined && pid != "") {
                            self.treeDataChildren(self.tableData, data.data, pid);
                        } else {
                            self.tableData = data.data;
                        }
                        self.treeData = sublime.treeToArray(self.tableData);
                    }
                }, "json");

            },
            // 点击展开和关闭的时候，图标的切换
            treeTableIconShow: function (record) {
                return record.hasChildren;
            },
            dropdownCommand: function (command) {//监听下拉框事件
                var self = this;
                if ("edit" == command.type) {
                    $.post(base + "/platform/sys/menu/edit/" + command.id, {}, function (data) {
                        if (data.code == 0) {
                            self.form = data.data;//加载后台表单数据
                            self.editDialogVisible = true;//打开编辑窗口
                        } else {
                            self.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        }
                    }, "json");
                }
                if ("enable" == command.type || "disable" == command.type) {
                    $.post(base + "/platform/sys/menu/" + command.type + "/" + command.id, {}, function (data) {
                        if (data.code == 0) {
                            self.$message({
                                message: data.msg,
                                type: 'success'
                            });
                            if("disable" == command.type){
                                $("#disabled_"+command.id).removeClass("text-success").addClass("text-danger");
                            }
                            if("enable" == command.type){
                                $("#disabled_"+command.id).removeClass("text-danger").addClass("text-success");
                            }
                        } else {
                            self.$message({
                                message: data.msg,
                                type: 'error'
                            });
                        }
                    }, "json");
                }
                if ("delete" == command.type) {
                    self.$confirm('此操作将删除 ' + command.name, '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning',
                        callback: function (a, b) {
                            if ("confirm" == a) {//确认后再执行
                                $.post(base + "/platform/sys/menu/delete/" + command.id, {}, function (data) {
                                    if (data.code == 0) {
                                        self.$message({
                                            message: data.msg,
                                            type: 'success'
                                        });
                                        self.treeTableChild("");
                                    } else {
                                        self.$message({
                                            message: data.msg,
                                            type: 'error'
                                        });
                                    }
                                }, "json");
                            }
                        }
                    });
                }
            }

        },
        created: function () {
            this.treeTableChild("");
        }
    });
</script>
<!--#
}
#-->