<!--#
layout("/layouts/platform.html"){
#-->
<style>
    .el-msg-active {
        background-color: #546478;
        color: #ffffff;
    }
</style>
<div id="app" v-cloak>
    <el-row class="header navbar shadow">
        <div class="btn-group tool-button mt5">
            <a href="${base}/platform/sys/msg/user/unread" data-pjax class="el-button el-button--default el-button--medium"
               :class="{'el-msg-active':'all'==pageForm.searchType}">
                全部类型消息
            </a>
        </div>
        <div class="btn-group tool-button mt5">
            <a href="${base}/platform/sys/msg/user/unread/system" data-pjax
               class="el-button el-button--default el-button--medium"
               :class="{'el-msg-active':'system'==pageForm.searchType}">
                系统消息<span v-if="unreadnum.system>0">({{unreadnum.system}})</span>
            </a>
        </div>
        <div class="btn-group tool-button mt5">
            <a href="${base}/platform/sys/msg/user/unread/user" data-pjax
               class="el-button el-button--default el-button--medium"
               :class="{'el-msg-active':'user'==pageForm.searchType}">
                用户消息<span v-if="unreadnum.user>0">({{unreadnum.user}})</span>
            </a>
        </div>
        <div class="pull-right offscreen-right mt5">
            <el-button size="medium" @click="readMore" :disabled="selectData.length==0">标记已读</el-button>
            <el-button size="medium" @click="readAll">全部已读</el-button>
            <el-button size="medium" @click="delMore" type="danger" :disabled="selectData.length==0">删除</el-button>
        </div>
    </el-row>
    <el-row class="el-table-container">
        <el-table
                :data="tableData"
                @sort-change='pageOrder'
                size="small"
                header-align="center"
                style="width: 100%"
                @selection-change="handleSelectionChange"
        >
            <el-table-column
                    type="selection"
                    width="35">
            </el-table-column>
            <el-table-column
                    prop="status"
                    width="45">
                <template slot-scope="scope">
                    <span v-if="0==scope.row.status"><i class="fa fa-circle text-info ml5"></i></span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="type"
                    label="消息类型"
                    header-align="center" align="center" width="120">
                <template slot-scope="scope">
                    <span v-if="'system'==scope.row.type">系统消息</span>
                    <span v-if="'user'==scope.row.type">用户消息</span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="title"
                    label="标题"
                    header-align="center"
                    :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <a :href="'${base}/platform/sys/msg/user/unread/detail/'+scope.row.msgid" data-pjax>{{scope.row.title}}</a>
                </template>
            </el-table-column>

            <el-table-column
                    prop="opat"
                    label="接收时间"
                    header-align="center" align="center">
                <template slot-scope="scope">
                    {{formatAt(scope.row.opat)}}
                </template>
            </el-table-column>
        </el-table>
    </el-row>

    <el-row class="el-pagination-container">
        <el-pagination
                style="float: left"
                @size-change="pageSizeChange"
                @current-change="pageNumberChange"
                :current-page="pageForm.pageNumber"
                :page-sizes="[10, 20, 30, 50]"
                :page-size="pageForm.pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="pageForm.totalCount">
        </el-pagination>
    </el-row>
</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                addDialogVisible: false,
                editDialogVisible: false,
                selectDialogVisible: false,
                viewDialogVisible: false,
                tableData: [],
                pageForm: {
                    searchType: "${type!}",
                    pageNumber: 1,
                    pageSize: 10,
                    totalCount: 0,
                    pageOrderName: "opAt",
                    pageOrderBy: "descending"
                },
                formData: {
                    id: "",
                    type: "system"
                },
                selectData: [],
                unreadnum: {
                    system: 0,
                    user: 0
                }
            }
        },
        methods: {
            pageOrder: function (column) {//按字段排序
                this.pageForm.pageOrderName = column.prop;
                this.pageForm.pageOrderBy = column.order;
                this.pageData();
            },
            pageNumberChange: function (val) {//页码更新操作
                this.pageForm.pageNumber = val;
                this.pageData();
            },
            pageSizeChange: function (val) {//分页大小更新操作
                this.pageForm.pageSize = val;
                this.pageData();
            },
            pageData: function () {//加载分页数据
                var self = this;
                sublime.showLoadingbar();//显示loading
                $.post(base + "/platform/sys/msg/user/data/unread", self.pageForm, function (data) {
                    sublime.closeLoadingbar();//关闭loading
                    if (data.code == 0) {
                        self.tableData = data.data.list;
                        self.pageForm.totalCount = data.data.totalCount;
                    } else {
                        self.$message({
                            message: data.msg,
                            type: 'error'
                        });
                    }
                }, "json");
            },
            formatAt: function (val) {
                if (val && val > 0)
                    return moment(val * 1000).format("YYYY-MM-DD HH:mm");
                return "";
            },
            handleSelectionChange: function (val) {
                this.selectData = val;
            },
            unreadData: function () {//加载分页数据
                var self = this;
                $.post(base + "/platform/sys/msg/user/unread_num", {}, function (data) {
                    if (data.code == 0) {
                        self.unreadnum = data.data;
                    }
                }, "json");
            },
            readMore: function () {
                var self = this;
                if (self.selectData.length == 0) {
                    self.$message({
                        message: "请选择消息",
                        type: 'warning'
                    });
                    return false;
                }
                var ids = [];
                self.selectData.forEach(function (val) {
                    ids.push(val.id);
                });
                self.$confirm('您确定要标记选中的 '+ids.length+' 条消息为已读吗？ ', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    callback: function (a, b) {
                        if ("confirm" == a) {//确认后再执行
                            $.post(base + "/platform/sys/msg/user/status/read", {ids: ids.toString()}, function (data) {
                                if (data.code == 0) {
                                    self.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    self.pageData();
                                    self.unreadData();
                                } else {
                                    self.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            }, "json");
                        }
                    }
                });
            },
            readAll: function () {
                var self = this;
                self.$confirm('您确定要标记全部消息为已读吗？ ', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    callback: function (a, b) {
                        if ("confirm" == a) {//确认后再执行
                            $.post(base + "/platform/sys/msg/user/status/readAll", {}, function (data) {
                                if (data.code == 0) {
                                    self.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    self.pageData();
                                    self.unreadData();
                                } else {
                                    self.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            }, "json");
                        }
                    }
                });
            },
            delMore: function () {
                var self = this;
                if (self.selectData.length == 0) {
                    self.$message({
                        message: "请选择消息",
                        type: 'warning'
                    });
                    return false;
                }
                var ids = [];
                self.selectData.forEach(function (val) {
                    ids.push(val.id);
                });
                self.$confirm('您确定要删除选中的 '+ids.length+' 条消息？ ', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning',
                    callback: function (a, b) {
                        if ("confirm" == a) {//确认后再执行
                            $.post(base + "/platform/sys/msg/user/delete", {ids: ids.toString()}, function (data) {
                                if (data.code == 0) {
                                    self.$message({
                                        message: data.msg,
                                        type: 'success'
                                    });
                                    self.pageData();
                                    self.unreadData();
                                } else {
                                    self.$message({
                                        message: data.msg,
                                        type: 'error'
                                    });
                                }
                            }, "json");
                        }
                    }
                });
            }
        },
        created: function () {
            this.pageData();
            this.unreadData();
        }
    });
</script>
<!--#
}
#-->